@model EM_Report.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";    
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="Wrapper">
    <div class="BoxHeader">
        <span>Account >> Change Password</span>
    </div>
    <div class="BoxContent">
       @using (Html.BeginForm())
       {            
            <div class="FormWrapper">
                @Html.Partial("_ShowMessage")
                <div class="LineWrapper First SameLine">
                    <p>
                        Use the form below to change your password. 
                    </p>
                    <p>
                        New passwords are required to be a minimum of 6 characters in length.
                    </p> 
                </div>
                <div class="LineWrapper First SameLine">
                    <label>Current Password</label>                    
                    @Html.PasswordFor(e => e.OldPassword, new { id = "txtCurrentPassword", name = "txtCurrentPassword", @class = "Text" })
					@Html.ValidationMessageFor(e => e.OldPassword) 
                </div>
                <div class="LineWrapper First SameLine">
                    <label>New Password</label>                    
                    @Html.PasswordFor(e => e.NewPassword, new { id = "txtNewPassword", name = "txtNewPassword", @class = "Text" })
					@Html.ValidationMessageFor(e => e.NewPassword) 
                </div>
                <div class="LineWrapper First SameLine">
                    <label>Confirm New Password</label>                    
                    @Html.PasswordFor(e => e.ConfirmPassword, new { id = "txtConfirmPassword", name = "txtConfirmPassword", @class = "Text" })
					@Html.ValidationMessageFor(e => e.ConfirmPassword) 
                </div>               
            </div>
            <div class="CommandWrapper">                
                <a id="cmdAccept" class="ButtonSave" onclick="actionClick('save', false);">Accept</a>
                <a class="ButtonBack" href="javascript:history.go(-1)">Back</a>                
            </div>
       }
    </div>  
</div>