@model IEnumerable<EM_Report.Models.RS_SubscriptionModel>
@using EM_Report.Helpers;
@using EM_Report.BLL.Commons;
@using EM_Report.BLL.Services
@using EM_Report.Models.RS2005
@using EM_Report.Models
@{
    ViewBag.Title = "Subscription";
    ViewBag.Heading = "Report >> Subscription List";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="Wrapper">
   @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", OnBegin = "showLoading", OnComplete = "hideLoading" }))
   {
        <script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
        <link href="@Url.Stylesheet("report.css")" rel="stylesheet" type="text/css" />    
        @Html.Partial("_SearchBar")
        <div class="BoxContent">
            <table id="tbGrid" name="tbGrid" class="Grid">
                <thead>
                    <tr>                                                                  
                        <th sortby="ReportPath" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Report</th>
                        <th class="center" sortby="Format" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Report format</th>
                        <th sortby="ToEmail" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Email</th>
                        <th class="center" sortby="DeliveryStatus" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Delivery Status</th>
                        <th class="center" sortby="LastExcecute" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Last execute</th>                            
                        <th class="action last-column"><span class="css_right"></span>Actions</th>
                    </tr>
                </thead>
                @if (!ViewData.Model.IsNullOrEmpty())
                {               
                    <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>                                    
                                    <td title="@s.ReportName"><a href="@Url.Action("details", "subscription", new { subid = s.SubscriptionID })">@s.ReportName</a></td>
                                    <td class="center" title="@s.Format" style="width:13%;">@s.Format</td>
                                    <td title="@s.ToEmail" style="width:15%;">@s.ToEmail</td>
                                    <td title="@s.DeliveryStatus" class="center" style="width:18%;">@s.DeliveryStatus</td>
                                    <td class="center" style="width:12%;">@Base.GetDatetimeText(s.LastExcecute)</td>  
                                    <td class="action last-column">
                                        <a href="@Url.Action("viewinfo", "report", new { reportpath = s.ReportPath, rId = s.ReportId })" title="view report">
                                            <img src="@Url.Image("btnReport.png")"  alt="view report"/>
                                        </a>                                    
                                    </td>                                                                          
                                </tr>                           
                            }
                    </tbody>                        
                }            
            </table>        
        </div>
        <div class="Paging">
            <div style="float:right">
                <a class="CmdButton Add" href="@Url.Action("details", "subscription", new { Reportid = HttpUtility.UrlEncode((string)ViewBag.ReportId) })">Add New</a>
            </div>
            @if (!Model.IsNullOrEmpty())
            {
                @Html.Partial("_UCPaging")                                          
            }        
        </div>    
        @Html.Partial("_HiddenAction")
   }   
</div>