@model EM_Report.Models.UserModel

@{
    ViewBag.Title = "User";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
<div class="Wrapper">
    <div class="BoxHeader">
        <span>User >> @(Model!=null?"Edit User":"Add User")</span>
    </div>
    <div class="BoxContent">
       @using (Html.BeginForm())
       {            
            <div class="FormWrapper">              
			    @if (Model != null)
                {
                    @Html.HiddenFor(e => e.UserId)
                } 		    
			    @Html.Partial("_ShowMessage")     
                <div class="LineWrapper First SameLine">
                    <label>User Name</label>                    
                    @Html.TextBoxFor(m => m.UserName, new { id = "txtUserName", @class = "Text" })
                    @Html.ValidationMessageFor(m => m.UserName)  
                </div>
                <div class="LineWrapper SameLine">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password, new { id = "txtPassword", @class = "Text", @value = Model!=null?Model.Password:"" })
                    @Html.ValidationMessageFor(m => m.Password) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { id = "txtConfirmPassword", @class = "Text", @value = Model != null ? Model.Password : "" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)     
                </div>
                <div class="LineWrapper SameLine">
                    <label>First Name</label>
                     @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstName", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.FirstName) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Last Name</label>
                     @Html.TextBoxFor(m => m.LastName, new { id = "txtLastName", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.LastName) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Email</label>
                     @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.Email) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Phone</label>
                     @Html.TextBoxFor(m => m.Phone, new { id = "txtPhone", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.Phone) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Address</label>
                     @Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.Address) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Status</label>
                    <div class="WrapperSelectBox SelectForm">
                          @Html.DropDownListFor(m => m.Status, (SelectList)ViewBag.cboStatus, new { id = "cboStatus"}) 
                          @Html.ValidationMessageFor(m => m.Status)  
                    </div>
                </div>
                @*---User Permission---*@
                <div class="LineWrapper SameLine">
                    <label>User Type</label>
                    <div class="SameLine">
                         @Html.RadioButtonFor(m => m.Is_System_User, true, new { @checked = true,@style="top: -5px;position: relative;" }) <span style="top: -10px;position: relative;">System User</span>     
                         @Html.RadioButtonFor(m => m.Is_System_User, false, new {@style = "top: -5px;position: relative;" }) <span style="top: -10px;position: relative;">Report User</span>
                    </div>
                </div>
                 <table cellpadding ="5" cellspacing="5" border="0" style="font-size:1.2em">                                     
                        <tr>
                            <td id="divReportUser" style="padding-left:40px;display:none;">                                
                                @Html.RadioButtonFor(m => m.Is_External_User, false, new { @checked = true})                                
                                <span style="top: -5px;position: relative;">Internal User</span><br />                                
                                <div id="divInternal" style="padding:0px 0px 20px 50px;">                                    
                                    <div class="LineWrapper SameLine">
                                        <label>Organisation</label>
                                        <div class="WrapperSelectBox SelectForm">                                        
                                            @Html.DropDownListFor(m => m.Organisation_RoleId, (SelectList)ViewBag.cboOrganisation_Roles, new { id = "cboOrganisation_Roles"})
                                        </div>
                                    </div>
                                    <div class="LineWrapper SameLine">                                  
                                        <label>Team</label>
                                        <div class="WrapperSelectBox SelectForm">                                        
                                            @Html.DropDownListFor(m => m.TeamId, (SelectList)ViewBag.Teams, "--Select--", new { id = "cboTeams" })
                                        </div>
                                    </div>
                                </div>
                                @Html.RadioButtonFor(m => m.Is_External_User, true) 
                                <span style="top: -5px;position: relative;">External User</span><br />                                
                                <div id="divExternal" style="display:none;padding-left:50px;" class="LineWrapper SameLine">
                                    <label>External Group</label>
                                    <div class="WrapperSelectBox SelectForm">
                                        @Html.DropDownListFor(m => m.External_GroupId, (SelectList)ViewBag.External_Groups, "--Select--", new { id = "cboExternal_Groups"})
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="divSystemUser" style="padding-left:40px;vertical-align: top;">                                
                                <div class="LineWrapper SameLine">
                                    <label>System Role</label>
                                    <div class="WrapperSelectBox SelectForm">
                                        @Html.DropDownListFor(m => m.System_RoleId, (SelectList)ViewBag.System_Roles, new { id = "cboSystem_Roles" })                                
                                    </div>
                                </div>
                            </td>
                        </tr>                                                 
                    </table>
                @*---User History Informations---*@
                @if (Model != null && Model.UserId > 0)
                {
                <div class="LineWrapper SameLine">
                    <label>Last Online Login Date</label>
                     @Html.TextBoxFor(m => m.Last_Online_Login_Date, new { @class = "Text", @readonly = true, @disabled = "disable" })                     
                </div>
                <div class="LineWrapper SameLine">
                    <label>Online No Of Login Attempts</label>
                     @Html.TextBoxFor(m => m.Online_No_Of_Login_Attempts, new { @class = "Text", @readonly = true, @disabled = "disable" })  
                </div>
                <div class="LineWrapper SameLine">
                    <label>Online Locked Until Datetime</label>
                     @Html.TextBoxFor(m => m.Online_Locked_Until_Datetime, new { @class = "Text", @readonly = true, @disabled = "disable" })
                </div>
                <div class="LineWrapper SameLine">
                    <label>Created Date</label>
                    @Html.TextBoxFor(m => m.Create_Date, new { @class = "Text", @readonly = true, @disabled = "disable" })
                </div>
                <div class="LineWrapper SameLine">
                    <label>Created By</label>
                    @Html.TextBoxFor(m => m.OwnerName, new { @class = "Text", @readonly = true, @disabled = "disable" })
                </div>
                }
            </div>
            <div class="CommandWrapper">                
                <a id="cmdSave" class="ButtonSave">Save</a>
                <a class="ButtonBack" href="@Url.Action("index", "user")">Back To List</a>                
            </div>
       }
    </div>  
</div>
