@model EM_Report.Domain.Dashboard  
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@using EM_Report.Domain;
@using EM_Report.Repositories;
@using System.Collections;
@using EM_Report.Domain.Resources;

@{
    int selectedSysId = ViewBag.selectedSystemId;
    var OrganisationLevelsRepository = new OrganisationLevelsRepository();
    var Dashboard_OrganisationRole_LevelsRepository = new Dashboard_OrganisationRole_LevelsRepository();
    var DashboardLevelRepository = new DashboardLevelRepository();
    var UserRepository = new UserRepository();
    var OrgLevelList = Model != null ?
        Dashboard_OrganisationRole_LevelsRepository.GetList(Model.DashboardId).GroupBy(g => g.LevelId).OrderBy(o => o.Key).Select(s => s.Key) : new List<int>();
    var LevelList = OrganisationLevelsRepository.GetList(string.Empty, string.Empty).AsQueryable().Where(p => p.SystemId == selectedSysId).OrderBy(l => l.Sort);
    var dashboardLevels = DashboardLevelRepository.GetList().ToList();
    var cboSystemSite = new SelectList(UserRepository.GetSystemList(), "SystemId", "Name", Request.Form["SystemId"] == null ? int.Parse(Request.QueryString["systemid"]) : int.Parse(Request.Form["SystemId"]));

    //Add dashboard external group information
    var DashboardExternal_groupRepository = new DashboardExternal_GroupsRepository();
    var ExternalGroupRepository = new External_GroupRepository();
    var DashGroupList = Model != null ? DashboardExternal_groupRepository.GetList(Model.DashboardId).GroupBy(l => l.External_GroupId).OrderBy(o => o.Key).Select(s => s.Key) : new List<int>();
    var GroupList = ExternalGroupRepository.GetList(string.Empty, string.Empty).AsQueryable().Where(p => p.SystemId == selectedSysId);
}
@functions{

    public string GetDashLevelByOrgLevel(int orgLevel)
    {
        string dasboardLevelName = "";
        string dashboardLevelId = "";
        var getDashboardLevelById = new DashboardLevelRepository();
        var Dashboard_OrganisationRole_LevelsRepository = new Dashboard_OrganisationRole_LevelsRepository();
        var OrgbyDashLevelList = Dashboard_OrganisationRole_LevelsRepository.GetList(Model.DashboardId);
        var list = OrgbyDashLevelList.Where(w => w.LevelId == orgLevel).Select(s => s.DashboardLevelId); ;
        foreach (var item in list)
        {
            dasboardLevelName += getDashboardLevelById.GetById(item).Name + ", ";
            dashboardLevelId += "|" + item;
        }
        return dasboardLevelName + dashboardLevelId;
    }

    // Get all external group belongs to dashboard
    public string GetExtGroupByDashLevel(int DashLevel)
    {
        string dasboardLevelName = "";
        string dashboardLevelId = "";
        var getDashboardLevelById = new DashboardLevelRepository();
        var DashboardExternal_groupRepository = new DashboardExternal_GroupsRepository();
        var ExtbyDashGroupList = DashboardExternal_groupRepository.GetList(Model.DashboardId);
        var list = ExtbyDashGroupList.Where(w => w.External_GroupId == DashLevel).Select(s => s.DashboardLevelId); ;
        foreach (var item in list)
        {
            dasboardLevelName += getDashboardLevelById.GetById(item).Name + ", ";
            dashboardLevelId += "|" + item;
        }
        return dasboardLevelName + dashboardLevelId;
    }

}

        <div class="organizationLevelContent">
            <a style="cursor: pointer;" class="show">Hide Organization by Dashboard Level list</a>
            <div class="showOrg">
                <div id="orgbydashlevelview">
                    @foreach (var s in OrgLevelList)
                    {
                        var DashLevel = @GetDashLevelByOrgLevel(s);
                        <div class="showOrgItems">
                            <table>
                                <tr>
                                    <td style="width: 24%">
                                        <div id="orgLevelShow">
                                            <label id="orglevelname">@OrganisationLevelsRepository.GetById(s).Name</label>
                                            <input type="hidden" id="orglevelid" value="@s" />
                                        </div>
                                        <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                            @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)LevelList, "LevelId", "Name", @s), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                        </div>
                                    </td>
                                    <td></td>
                                    <td style="width: 68%">
                                        <div id="dashLevelShow">
                                            <img src="../../Images/ico_breadcrum_01.png" style="margin-right: 10px;" />
                                            <div id="dashlevelname" style="display: inline">@DashLevel.Substring(0, DashLevel.IndexOf("|") - 2)</div>
                                            <input type="hidden" value="@DashLevel.Substring(DashLevel.IndexOf("|") + 1) " id="dashlevelid" />
                                        </div>
                                        <div id="dashLevelEdit" style="display: none">
                                            @{
                        int countItemEdit = 1;
                        foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                        {
                            <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                @i.Name
                            </label>
                                                <input style="left: -1px !important" type="checkbox" value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEdit)_@(s)" />
                            countItemEdit++;
                        }
                        @Html.Hidden("ItemCountEdit", countItemEdit - 1);
                                            }
                                        </div>
                                    </td>
                                    <td style="width: 150px; text-align: right; padding-right: 14px">
                                        <div id="orgFunc">
                                            <a href="#" class="orgSave">
                                                <img src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" />
                                            </a>
                                            <a href="#" class="orgEdit">
                                                <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" />
                                            </a>
                                            <a href="#" class="orgRemove" style="margin-left: 5px">
                                                <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="clear">
                            </div>
                        </div>
                    }

                    @*Org Dash Level Template*@
                    <div class="showOrgItems" style="display: none">
                        <table>
                            <tr>
                                <td style="width: 24%">
                                    <div id="orgLevelShow">
                                        <label id="orglevelname">
                                        </label>
                                        <input type="hidden" id="orglevelid" value="" />
                                    </div>
                                    <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                        @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)LevelList, "LevelId", "Name", 0), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                    </div>
                                </td>
                                <td></td>
                                <td style="width: 68%">
                                    <div id="dashLevelShow">
                                        <div id="dashlevelname" style="display:inherit">
                                        </div>
                                        <input type="hidden" value="" id="dashlevelid" />
                                    </div>
                                    <div id="dashLevelEdit" style="display: none">
                                        @{
                                            int countItemEditHide = 1;
                                            foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                                            {
                                                <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                                    @i.Name
                                                </label>
                                                <input style="left: -1px !important" type="checkbox" value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEditHide)" />
                                                countItemEditHide++;
                                            }
                                            @Html.Hidden("ItemCountEdit", countItemEditHide - 1);
                                        }
                                    </div>
                                </td>
                                <td style="width: 150px; text-align: right; padding-right: 14px">
                                    <div id="orgFunc">
                                        <a href="#" class="orgSave">
                                            <img src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" />
                                        </a>
                                        <a href="#" class="orgEdit">
                                            <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" />
                                        </a>
                                        <a href="#" class="orgRemove" style="margin-left: 5px">
                                            <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td style="width: 24%">
                            <label>
                                Organisation Levels
                            </label>
                        </td>
                        <td style="width: 73%">
                            <label style="margin-left: 10px!important">
                                Dashboard Levels
                            </label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin-left: -10px">
                                @Html.DropDownList("cbolevel", new SelectList((IEnumerable)LevelList, "LevelId", "Name", 0), "--Select--", new { id = "cbolevel", @name = "cbolevel" })
                                <span class="field-validation-error" style="margin-left: 11px; display: none">*</span>
                            </div>
                        </td>
                        <td>
                            <div id="dashboardlevelchecklist">
                                @{
                                    int countItem = 1;
                                    foreach (var s in (List<Dashboard_Levels>)dashboardLevels)
                                    {
                                        <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                            @s.Name
                                        </label>
                                        <input style="left: -1px !important" type="checkbox" value="@s.DashboardLevelId" name="chkSystem_Level_@(s.DashboardLevelId)" id="chkSystem_@(countItem)" />
                                        countItem++;
                                    }
                                    @Html.Hidden("ItemCount", countItem - 1);
                                }
                                <span class="field-validation-error" style="margin-left: 29px; display: none">*</span>
                            </div>
                        </td>
                        <td style="width: 10%; text-align: right; padding-right: 14px">
                            <span class="btnPurple">
                                <input type="button" value="Add" id="btnAddOrg" />
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear">
            </div>
        </div>

        @*Add Dashboard external group Info*@

        <div class="dashboardExternalGroupContent">
            <a style="cursor: pointer;" class="show">Hide Dashboard External Group list</a>
            <div class="showDash">
                <div id="groupbydashlevelview">
                    @foreach (var s in DashGroupList)
                    {
                        var DashLevel = @GetExtGroupByDashLevel(s);
                        <div class="showDashItems">
                            <table>
                                <tr>
                                    <td style="width: 24%">
                                        <div id="orgLevelShow">
                                            <label id="orglevelname">@ExternalGroupRepository.GetById(s).Name</label>
                                            <input type="hidden" id="orglevelid" value="@s" />
                                        </div>
                                        <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                            @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)GroupList, "External_GroupId", "Name", @s), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                        </div>
                                    </td>
                                    <td></td>
                                    <td style="width: 68%">
                                        <div id="dashLevelShow">
                                            <img src="../../Images/ico_breadcrum_01.png" style="margin-right: 10px;" />
                                            <div id="dashlevelname" style="display: inline">@DashLevel.Substring(0, DashLevel.IndexOf("|") - 2)</div>
                                            <input type="hidden" value="@DashLevel.Substring(DashLevel.IndexOf("|") + 1) " id="dashlevelid" />
                                        </div>
                                        <div id="dashLevelEdit" style="display: none">
                                            @{
                        int countItemEdit = 1;
                        foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                        {
                            <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                @i.Name
                            </label>
                                                <input style="left: -1px !important" type="checkbox" value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEdit)_@(s)" />
                            countItemEdit++;
                        }
                        @Html.Hidden("ItemCountEdit", countItemEdit - 1);
                                            }
                                        </div>
                                    </td>
                                    <td style="width: 150px; text-align: right; padding-right: 14px">
                                        <div id="orgFunc_dash">
                                            <a href="#" class="orgSave_dash">
                                                <img src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" />
                                            </a>
                                            <a href="#" class="orgEdit_dash">
                                                <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" />
                                            </a>
                                            <a href="#" class="orgRemove_dash" style="margin-left: 5px">
                                                <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="clear">
                            </div>
                        </div>
                    }

                    @*Org Dash Level Template*@
                    <div class="showDashItems" style="display: none">
                        <table>
                            <tr>
                                <td style="width: 24%">
                                    <div id="orgLevelShow">
                                        <label id="orglevelname">
                                        </label>
                                        <input type="hidden" id="orglevelid" value="" />
                                    </div>
                                    <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                        @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)GroupList, "External_GroupId", "Name", 0), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                    </div>
                                </td>
                                <td></td>
                                <td style="width: 68%">
                                    <div id="dashLevelShow">
                                        <div id="dashlevelname" style="display:inherit">
                                        </div>
                                        <input type="hidden" value="" id="dashlevelid" />
                                    </div>
                                    <div id="dashLevelEdit" style="display: none">
                                        @{
                                            int countItemEditHide_ = 1;
                                            foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                                            {
                                                <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                                    @i.Name
                                                </label>
                                                <input style="left: -1px !important" type="checkbox" value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEditHide_)" />
                                                countItemEditHide_++;
                                            }
                                            @Html.Hidden("ItemCountEdit", countItemEditHide_ - 1);
                                        }
                                    </div>
                                </td>
                                <td style="width: 150px; text-align: right; padding-right: 14px">
                                    <div id="orgFunc_dash">
                                        <a href="#" class="orgSave_dash">
                                            <img src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" />
                                        </a>
                                        <a href="#" class="orgEdit_dash">
                                            <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" />
                                        </a>
                                        <a href="#" class="orgRemove_dash" style="margin-left: 5px">
                                            <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td style="width: 24%">
                            <label>
                                External Groups
                            </label>
                        </td>
                        <td style="width: 73%">
                            <label style="margin-left: 10px!important">
                                Dashboard Levels
                            </label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin-left: -10px">
                                @Html.DropDownList("cbolevel_Dash", new SelectList((IEnumerable)GroupList, "External_GroupId", "Name", 0), "--Select--", new { id = "cbolevel_Dash", @name = "cbolevel_Dash" })
                                <span class="field-validation-error" style="margin-left: 11px; display: none">*</span>
                            </div>
                        </td>
                        <td>
                            <div id="dashboardlevelchecklist">
                                @{
                                    int countItem_ = 1;
                                    foreach (var s in (List<Dashboard_Levels>)dashboardLevels)
                                    {
                                        <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                            @s.Name
                                        </label>
                                        <input style="left: -1px !important" type="checkbox" value="@s.DashboardLevelId" name="chkSystem_Level_@(s.DashboardLevelId)" id="chkSystem_DashExt_@(countItem_)" />
                                        countItem_++;
                                    }
                                    @Html.Hidden("ItemCount", countItem_ - 1);
                                }
                                <span class="field-validation-error" style="margin-left: 29px; display: none">*</span>
                            </div>
                        </td>
                        <td style="width: 10%; text-align: right; padding-right: 14px">
                            <span class="btnPurple">
                                <input type="button" value="Add" id="btnAddOrg_dash" />
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear">
            </div>
        </div>

