@model EM_Report.Domain.Team              
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@using EM_Report.Repositories;
@using EM_Report.Domain;
@{    
    ViewBag.Title = "Team";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
@functions {  
	public bool IsNew()
	{
		return (Model != null && Model.TeamId > 0) ? false : true;
	}

	public string AddButtonText()
	{
		return IsNew() ? "add" : "save";
	}
}
<div class="wrapper">
    <div class="w_100p">  
    @using (Html.BeginForm())
    {          
        @Html.AntiForgeryToken()
        <div class="formWrap">
            @Html.Hidden("action")
            @if (!IsNew())
            {
                @Html.HiddenFor(e => e.TeamId)
                @Html.HiddenFor(e => e.Owner)
            }              
            <h1>@(IsNew() ? "Team List Add" : "Team List Edit")</h1>      
            @Html.Partial("_ShowMessage")               
            <div class="formInline">
                <label>Team Name</label>
                @Html.TextBoxFor(e => e.Name, new { id = "txtName", name = "txtName", @class = "Text" })
				@Html.ValidationMessageFor(e => e.Name) 

            </div>   
            <div class="clear"></div>            
            <div class="formInline">
                <label>Description</label>
                @Html.TextAreaFor(e => e.Description, new { id = "txtDescription", @class = "Text" })
				@Html.ValidationMessageFor(e => e.Description) 
            </div>
            <div class="clear"></div>
            <div class="formInline">                                    
                <label>System </label>                                  
                @{
                    if (!IsNew())
                    {       
                        @Html.DropDownListFor(e => e.SystemId, (SelectList)ViewBag.cboSystemSite, new { id = "cboSystemSite" })
                    }
                    else
                    {
                        foreach (var s in (List<Systems>)ViewBag.cboSystemSite)
                        {
                            <label style="width:auto">@(s.Name == "EML" ? "WCNSW" : s.Name == "HEM" ? "Hospitality" : s.Name)</label>
                            <input style="left: -2px !important"  type="checkbox"  value="@s.SystemId" name="chkSystem_@(s.Name)" id="chkSystem_@(s.Name)" />                              
                        }
                        <span class="field-validation-error" style="margin-left: 10px;display:none;">*</span>
                    }
                }       
            </div>
            <div class="clear"></div>
            <div class="formInline">
                <label>Status</label>
                @Html.DropDownListFor(m => m.Status, (SelectList)ViewBag.cboStatus, new { id = "cboStatus" })              
            </div>
            <div class="clear"></div>
            @if (!IsNew())
            {
                <div class="formInline">
                    <label>Create Date</label>                        
                    @Html.TextBoxFor(e => e.Create_Date, new { @class = "Text Disabled", @readonly = true })
                </div> 
                <div class="clear"></div>
                <div class="formInline">
                    <label>Created By</label>                        
                    @Html.TextBoxFor(e => e.OwnerName, new { @class = "Text Disabled", @readonly = true })
                </div>      
                <div class="clear"></div>
            }  
            <div class="formInline formInlineBtn">      
                @if (Login.AuthorizeSystemPermission(ResourcesHelper.System_Report, ResourcesHelper.Permission_Add))
                {
                    <span class="btnPurple"><input type="button" id="cmdSave" onclick="SubmitTeamForm()" value="Save" /></span>
                }
                <span class="btnPurple"><input type="button" value="Back To List" onclick="window.location = ('@Url.Action("index", "team", new { systemid = Request["systemid"] })')"/></span>
            </div>
            <div class="clear"></div>       
        </div>          
    }
</div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        //Change HEM to Hospitality and EML to WCNSW
        $('select[id="cboSystemSite"] option').each(function () {
            if ($(this).html() == 'HEM') {
                $(this).html('Hospitality');
            }
            else if ($(this).html() == 'EML') {
                $(this).html('WCNSW');
            }
        });
    });
    function SubmitTeamForm() {
        if (isValidRequiredTeam() == true) 
        {
            actionClick('save', false);
        }
    }

    function isValidRequiredTeam() {
        var isValid = true;

        if ($("#txtName").val() == "") {
            $("#txtName").addClass("input-validation-error");
            $("#txtName").parent().parent().parent().parent().next().show();
            isValid = false;
        }
        else {
            $("#txtName").parent().parent().parent().parent().next().hide();
        }

        if ($("#TeamId").val() == undefined) {
            if ($("#chkSystem_HEM").is(':checked') == false && $("#chkSystem_TMF").is(':checked') == false && $("#chkSystem_EML").is(':checked') == false) {
                $("#chkSystem_EML").parent().parent().parent().parent().next().show();
                isValid = false;
            }
            else 
            {
                $("#chkSystem_EML").parent().parent().parent().parent().next().hide();
            }
        }

        return isValid;
    }
  </script>