@model EM_Report.Domain.Dashboard   
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@using EM_Report.Domain;
@using EM_Report.Repositories;
@using System.Collections;
@using EM_Report.Domain.Resources;
@{
    ViewBag.Title = "Dashboard";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";

    var OrganisationLevelsRepository = new OrganisationLevelsRepository();
    var Dashboard_OrganisationRole_LevelsRepository = new Dashboard_OrganisationRole_LevelsRepository();
    var DashboardLevelRepository = new DashboardLevelRepository();
    var UserRepository = new UserRepository();
    var OrgLevelList = Model != null ?
        Dashboard_OrganisationRole_LevelsRepository.GetList(Model.DashboardId).GroupBy(g => g.LevelId).OrderBy(o => o.Key).Select(s => s.Key) : new List<int>();
    var LevelList = OrganisationLevelsRepository.GetList(string.Empty, string.Empty).AsQueryable().Where(
                                 p => p.SystemId == int.Parse(Request.QueryString["systemid"])).OrderBy(l => l.Sort);
    var dashboardLevels = DashboardLevelRepository.GetList().ToList();
    var cboSystemSite = new SelectList(UserRepository.GetSystemList(), "SystemId", "Name", Request.Form["SystemId"] == null ? int.Parse(Request.QueryString["systemid"]) : int.Parse(Request.Form["SystemId"]));
}
@functions{ 
    
    public string GetDashLevelByOrgLevel(int orgLevel)
    {
        string dasboardLevelName = "";
        string dashboardLevelId = "";
        var getDashboardLevelById = new DashboardLevelRepository();
        var Dashboard_OrganisationRole_LevelsRepository = new Dashboard_OrganisationRole_LevelsRepository();
        var OrgbyDashLevelList = Dashboard_OrganisationRole_LevelsRepository.GetList(Model.DashboardId);
        var list = OrgbyDashLevelList.Where(w => w.LevelId == orgLevel).Select(s => s.DashboardLevelId); ;
        foreach (var item in list)
        {
            dasboardLevelName += getDashboardLevelById.GetById(item).Name + ", ";
            dashboardLevelId += "|" + item;
        }
        return dasboardLevelName + dashboardLevelId;
    }
    }
<div class="wrapper">
    <div class="w_100p">
        @using (Html.BeginForm())
        {            
            @Html.AntiForgeryToken()
            <div class="formWrap">
                @Html.HiddenFor(e => e.Dashboard_OrganisationRole_Levels)
                @if (Model != null)
                {
                    @Html.HiddenFor(e => e.DashboardId)
                }
                <h1>@(Model != null ? "Edit Dashboard" : "Add Dashboard")</h1>
                @Html.Partial("_ShowMessage")
                <div class="formInline" style="padding-top: 5px;">
                    <label>
                        Dashboard Name</label>
                    @Html.TextBoxFor(e => e.Name, new { id = "txtName", name = "txtName", @class = "Text" })
                    <span class="field-validation-error" style="display: none">*</span>
                    <input type="hidden" style="display:none" id="dashboardid" value="@ViewBag.DashboardId" />
                </div>
                <div class="clear">
                </div>
                <div class="formInline">
                    <label>
                        System</label>
                    @Html.DropDownListFor(e => e.SystemId, (SelectList)cboSystemSite)
                </div>
                <div class="clear">
                </div>
                <div class="clear">
                </div>
                <div class="clear">
                </div>
                <div class="organizationLevelContent">
                    <a style="cursor: pointer;" class="show">Hide Organization by Dashboard Level list</a>
                    <div class="showOrg">
                        <div id="orgbydashlevelview">
                            @foreach (var s in OrgLevelList)
                            {
                                var DashLevel = @GetDashLevelByOrgLevel(s);
                                <div class="showOrgItems">
                                    <table>
                                        <tr>
                                            <td style="width: 24%">
                                                <div id="orgLevelShow">
                                                    <label id="orglevelname">@OrganisationLevelsRepository.GetById(s).Name</label>
                                                    <input type = "hidden" id="orglevelid" value="@s"/>
                                                </div>
                                                <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                                    @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)LevelList, "LevelId", "Name", @s), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td style="width: 68%">
                                                <div id="dashLevelShow">
                                                    <img src="../Images/ico_breadcrum_01.png" style="margin-right: 10px;" />
                                                    <div id="dashlevelname" style="display: inline">@DashLevel.Substring(0, DashLevel.IndexOf("|") - 2)</div>
                                                    <input type="hidden" value=" @DashLevel.Substring(DashLevel.IndexOf("|") + 1)" id="dashlevelid"  />
                                                </div>
                                                <div id="dashLevelEdit" style="display: none">
                                                    @{
                                                        int countItemEdit = 1;
                                                        foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                                                        {
                                                        <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                                            @i.Name</label>                
                                                        <input style="left: -1px !important"  type="checkbox"  value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEdit)_@(s)" />
                                                            countItemEdit++;
                                                        }
                                                        @Html.Hidden("ItemCountEdit", countItemEdit - 1);
                                                    }
                                                </div>
                                            </td>
                                            <td style="width: 150px; text-align: right; padding-right: 14px">
                                                <div id="orgFunc">
                                                    <a href="#" class="orgSave">
                                                        <img  src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" /></a>
                                                    <a href="#" class="orgEdit">
                                                        <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" /></a>
                                                    <a href="#" class="orgRemove" style="margin-left: 5px">
                                                        <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" /></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="clear">
                                    </div>
                                </div>
                            }

                            @*Org Dash Level Template*@
                            <div class="showOrgItems" style="display: none">
                                <table>
                                    <tr>
                                        <td style="width: 24%">
                                            <div id="orgLevelShow">
                                                <label id="orglevelname">
                                                </label>
                                                <input type="hidden" id="orglevelid" value="" />
                                            </div>
                                            <div id="orgLevelEdit" style="display: none; margin-left: -10px">
                                                @Html.DropDownList("cbolevelEdit", new SelectList((IEnumerable)LevelList, "LevelId", "Name", 0), new { id = "cbolevelEdit", @name = "cbolevelEdit" })
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                        <td style="width: 68%">
                                            <div id="dashLevelShow">                                                
                                                <div id="dashlevelname" style="display:inherit">
                                                </div>
                                                <input type="hidden" value="" id="dashlevelid" />
                                            </div>
                                            <div id="dashLevelEdit" style="display: none">
                                                @{
                                                    int countItemEditHide = 1;
                                                    foreach (var i in (List<Dashboard_Levels>)dashboardLevels)
                                                    {
                                                    <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                                        @i.Name</label>                
                                                    <input style="left: -1px !important"  type="checkbox"  value="@i.DashboardLevelId" name="chkSystem_Level_@(i.DashboardLevelId)" id="chkSystemEdit_@(countItemEditHide)" />
                                                        countItemEditHide++;
                                                    }
                                                    @Html.Hidden("ItemCountEdit", countItemEditHide - 1);
                                                }
                                            </div>
                                        </td>
                                        <td style="width: 150px; text-align: right; padding-right: 14px">
                                            <div id="orgFunc">
                                                <a href="#" class="orgSave">
                                                    <img  src="@Url.ContentV("~/images/ico_save.png")" alt="Save" title="Save" /></a>
                                                <a href="#" class="orgEdit">
                                                    <img src="@Url.ContentV("~/images/ico_edit.png")" alt="Edit" title="Edit" /></a>
                                                <a href="#" class="orgRemove" style="margin-left: 5px">
                                                    <img src="@Url.ContentV("~/images/ico_bookmark_remove.png")" alt="Remove" title="Remove" /></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td style="width: 24%">
                                    <label>
                                        Organisation Levels</label>
                                </td>
                                <td style="width: 73%">
                                    <label style="margin-left: 10px!important">
                                        Dashboard Levels</label>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="margin-left: -10px">
                                        @Html.DropDownList("cbolevel", new SelectList((IEnumerable)LevelList, "LevelId", "Name", 0), "--Select--", new { id = "cbolevel", @name = "cbolevel" })
                                        <span class="field-validation-error" style="margin-left: 11px; display: none">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div id="dashboardlevelchecklist">
                                        @{
                                            int countItem = 1;
                                            foreach (var s in (List<Dashboard_Levels>)dashboardLevels)
                                            {
                                            <label style="text-align: left!important; width: 42px!important; padding: 0px 0px 0px 10px!important">
                                                @s.Name</label>
                                            <input style="left: -1px !important"  type="checkbox"  value="@s.DashboardLevelId" name="chkSystem_Level_@(s.DashboardLevelId)" id="chkSystem_@(countItem)" />
                                                countItem++;
                                            }
                                            @Html.Hidden("ItemCount", countItem - 1);
                                        }
                                        <span class="field-validation-error" style="margin-left: 29px; display: none">*</span>
                                    </div>
                                </td>
                                <td style="width: 10%; text-align: right; padding-right: 14px">
                                    <span class="btnPurple">
                                        <input type="button" value="Add" id="btnAddOrg" /></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
                @{
                    int levelCount = 0;
                    foreach (var s in (List<Dashboard_Levels>)dashboardLevels)
                    {
                        try
                        {
                            if (Model != null)
                            {
                                string[] UrlArr = Model.Url.Split(',');
                            
                                <div class="clear">
                                </div> 
                                <div class="formInline">
                                    <label>
                                        @s.Name URL</label>
                                    @if (UrlArr.Count() > 1)
                                    {
                                        @Html.TextBox("txtUrl_" + s.Sort, (levelCount < UrlArr.Count() ? UrlArr[levelCount] : ""), new { id = "txtUrl_" + levelCount, @class = "Text" })
                                    }
                                    else
                                    {
                                        <input class="Text" id="txtUrl_"@levelCount />
                                    }
                                    <span class="field-validation-error" style="display: none">*</span> <span class="field-validation-error"
                                        style="display: none">Input contains invalid comma exist</span>
                                </div>
                                <div class="clear">
                                </div> 
                            }
                            else
                            {
                                <div class="clear">
                                </div> 
                                <div class="formInline">
                                    <label>
                                        @s.Name URL</label>
                                    @Html.TextBox("txtUrl_" + s.Sort, "", new { id = "txtUrl_" + levelCount, @class = "Text" })
                                    <span class="field-validation-error" style="display: none">*</span> <span class="field-validation-error"
                                        style="display: none">Input contains invalid comma exist</span>
                                </div>
                                <div class="clear">
                                </div> 
                            }
                        }
                        catch (Exception)
                        {
                            //UrlVal = string.Empty;
                        }

                        levelCount = levelCount + 1;
                    }
                    @Html.Hidden("levelUrlCount", levelCount);
                }
                <div class="clear">
                </div>
                <div class="formInline">
                    <label>
                        Description</label>
                    @Html.TextAreaFor(e => e.Description, new { id = "txtDescription", @class = "Text" })
                    @Html.ValidationMessageFor(e => e.Description)
                </div>
                <div class="clear" style="padding-top: 5px;">
                </div>
                <div class="formInline">
                    <label>
                        Status</label>
                    @Html.DropDownListFor(m => m.Status, (SelectList)ViewBag.cboStatus, new { id = "cboStatus" })
                </div>
                <div class="clear">
                </div>
                @if (Model != null && Model.DashboardId > 0)
                {
                    <div class="formInline">
                        <label>
                            Create Date</label>
                        @Html.TextBoxFor(e => e.Create_Date, new { @class = "Text Disabled", @readonly = true })
                    </div> 
                    <div class="clear">
                    </div>
                    <div class="formInline">
                        <label>
                            Created By</label>
                        @Html.TextBoxFor(e => e.OwnerName, new { @class = "Text Disabled", @readonly = true })
                    </div>  
                    <div class="clear">
                    </div>     
                }
                <div class="formInline formInlineBtn">
                    <span class="btnPurple">
                        <input type="button" value="@Resource.Action_Save" onclick="SubmitAddDashboard();" /></span>
                    <span class="btnPurple">
                        <input type="button" value="Back To List" onclick="window.location = ('@Url.Action("index", "dashboard", new { systemid = Request["systemid"] })')"/></span>
                </div>
            </div>                  
        }
    </div>
</div>
<script type="text/javascript" language="javascript">

    var orgiteminfo = "";
    $(document).ready(function () {
        $(".orgSave").hide();
    });

    //Add new Org Level along with Dash Level
    $(document).undelegate("#btnAddOrg", 'click').delegate("#btnAddOrg", 'click', function (e) {
        e.preventDefault();
        var newitem = true;
        var levelid = $('#cbolevel option:selected').val();
        var levelname = $.trim($('#cbolevel option:selected').text());
        var orgitem = $('.showOrgItems:last');
        var dashboardlevelname = "";
        var dashboardlevelid = "";

        //collect new dashboard level id from check box list
        for (var i = 1; i < parseInt($('#ItemCount').val() + 1); i++) {
            if ($("#chkSystem_" + i).is(':checked') == true) {
                dashboardlevelname += $("#chkSystem_" + i).parents('.frmShdwTopLt').prev().html() + ", ";
                dashboardlevelid += $("#chkSystem_" + i).val() + "|";
            }
        }
        dashboardlevelname = dashboardlevelname.substring(0, dashboardlevelname.length - 2);
        dashboardlevelid = dashboardlevelid.substring(0, dashboardlevelid.length - 1);

        //check duplicate Org Level name 
        $(".showOrgItems").each(function (index) {
            if ($.trim($(this).find('#orgLevelShow').find('#orglevelname').html()) == levelname) { newitem = false };
        });

        //eligible to add new orglevelitem
        if (newitem == true && levelid != '' && dashboardlevelid != '') {

            var clonedItem = orgitem.clone();

            // wrap select box
            clonedItem.find('table div[id=orgLevelEdit] div[id*=sbHolder_]').remove();
            clonedItem.find('table select[id=cbolevelEdit]').selectbox();
            clonedItem.find('table div[id=orgLevelEdit] div[id*=sbHolder_]').css('z-index', '9999');

            clonedItem.appendTo('#orgbydashlevelview');
            orgitem.find('#orgLevelShow').find('#orglevelname').html(levelname);
            orgitem.find('#orgLevelShow').find('#orglevelid').val(levelid);
            orgitem.find('#dashLevelShow').find('#dashlevelname').html(dashboardlevelname);
            orgitem.find('#dashLevelShow').find('#dashlevelid').val(dashboardlevelid);
            orgitem.show();

            //change checkbox Id
            for (var i = 1; i < parseInt($('.showOrgItems:last').find('#ItemCountEdit').val()) + 1; i++) {
                $('.showOrgItems:last').find('input[id^="chkSystemEdit_' + i + '"]').attr('id', 'chkSystemEdit_' + i + '_' + levelid)
                $('.showOrgItems:last').find('input[id^="chkSystemEdit_' + i + '"]').prev('a').attr('href', 'javascript:toggleCheck("chkSystemEdit_' + i + "_" + levelid + '","fakechkSystemEdit_' + i + '_' + levelid + '")')
                $('.showOrgItems:last').find('input[id^="chkSystemEdit_' + i + '"]').prev('a').find('img').attr('id', 'fakechkSystemEdit_' + i + '_' + levelid)
            }
        }
        else {
            $("#btnOkModal").hide();
            $('#btnCancelModal').parent().hide();
            $("#btnOkModalFavour").show();
            confirmSubmit('Warning!', 'Organization Level and Dashboard Level are not selected or Organization Level is duplicated');
            $("#btnOkModalFavour").click(function (event) {
                event.preventDefault();
                $("#yesno").overlay().close();
            });
        }
    });


    //Edit Org Level along with Dash Level
    $(document).undelegate(".orgEdit", 'click').delegate(".orgEdit", 'click', function (e) {
        e.preventDefault();
        var orgParent = $(this).parents(".showOrgItems");

        //appear current org level name
        var orglevelid = orgParent.find('#orgLevelShow').find('#orglevelid').val();
        var orgleveleditname = orgParent.find("#cbolevelEdit option[value='" + orglevelid + "']").html();
        orgParent.find('#orgLevelEdit').find('div[id^="sbHolder_"]').find('a[id^="sbSelector_"]').html(orgleveleditname);

        //appear current dash level id on checkbox list
        var dashlevelid = orgParent.find('#dashLevelShow').find('#dashlevelid').val().split('|');
        for (var i = 1; i < parseInt(orgParent.find('#ItemCountEdit').val()) + 1; i++) {
            for (var e = 0; e < parseInt(dashlevelid.length); e++) {
                if (orgParent.find('input[id^="chkSystemEdit_' + i + '"]').val() == $.trim(dashlevelid[e])) {
                    orgParent.find('input[id^="chkSystemEdit_' + i + '"]').prev().find('img').attr('src', '/Dart/images/form_element/checkboxChecked.gif');
                    orgParent.find('input[id^="chkSystemEdit_' + i + '"]').attr('checked', true);
                }
            }
        }

        $(".orgEdit").hide();
        $(".orgSave").show();
        orgParent.find('#orgLevelEdit').show();
        orgParent.find('#orgLevelShow').hide();
        orgParent.find('#dashLevelEdit').show();
        orgParent.find('#dashLevelShow').hide();

        orgParent.siblings(".showOrgItems").each(function (index) {
            $(this).find(".orgEdit").show();
            $(this).find(".orgSave").hide();
            $(this).find('#orgLevelEdit').hide();
            $(this).find('#orgLevelShow').show();
            $(this).find('#dashLevelEdit').hide();
            $(this).find('#dashLevelShow').show();

        });
    });

    //Update Org Level along with Dash Level
    $(document).undelegate(".orgSave", 'click').delegate(".orgSave", 'click', function (e) {
        e.preventDefault();
        var orgParent = $(this).parents(".showOrgItems");
        var levelid = "";
        var levelname = $.trim(orgParent.find('#orgLevelEdit').find('div[id^="sbHolder_"]').find('a[id^="sbSelector_"]').html());
        var dashboardlevelname = "";
        var dashboardlevelid = "";
        var updateitem = true;

        //get new Org Level Id to update
        orgParent.find('#cbolevelEdit').find('option').each(function () {
            if ($.trim($(this).html()) == levelname) {
                levelid = $(this).val();
            }
        });

        //collect new dashboard level id to update
        for (var i = 1; i < parseInt($('#ItemCountEdit').val() + 1); i++) {
            if (orgParent.find('input[id^="chkSystemEdit_' + i + '"]').is(':checked') == true) {
                dashboardlevelname += orgParent.find('input[id^="chkSystemEdit_' + i + '"]').parents('.frmShdwTopLt').prev().html() + ", ";
                dashboardlevelid += orgParent.find('input[id^="chkSystemEdit_' + i + '"]').val() + "|";
            }
        }
        dashboardlevelname = dashboardlevelname.substring(0, dashboardlevelname.length - 2);
        dashboardlevelid = dashboardlevelid.substring(0, dashboardlevelid.length - 1);

        //check duplicate new Org Level Id to update
        orgParent.siblings(".showOrgItems").each(function (index) {
            if ($.trim($(this).find('#orgLevelShow').find('#orglevelname').html()) == levelname) { updateitem = false };
        });

        //eligible to update new Org Level along with Dash Level
        if (updateitem == true && levelid != '' && dashboardlevelid != '') {
            orgParent.find('#orgLevelShow').find('#orglevelname').html(levelname);
            orgParent.find('#orgLevelShow').find('#orglevelid').val(levelid);
            orgParent.find('#dashLevelShow').find('#dashlevelname').html(dashboardlevelname);
            orgParent.find('#dashLevelShow').find('#dashlevelid').val(dashboardlevelid);
            orgParent.find('#orgLevelEdit').hide();
            orgParent.find('#orgLevelShow').show();
            orgParent.find('#dashLevelEdit').hide();
            orgParent.find('#dashLevelShow').show();
            orgParent.find(".orgSave").hide();
            orgParent.find(".orgEdit").show();
        }
        else {
            $("#btnOkModal").hide();
            $('#btnCancelModal').parent().hide();
            $("#btnOkModalFavour").show();
            confirmSubmit('Warning!', 'Organization Level and Dashboard Level are not selected or Organization Level is duplicated');
            $("#btnOkModalFavour").click(function (event) {
                event.preventDefault();
                $("#yesno").overlay().close();
            });

        }
    });

    //Remove Org Level along with Dash Level
    $(document).undelegate(".orgRemove", 'click').delegate(".orgRemove", 'click', function (e) {
        e.preventDefault();
        var orgParent = $(this).parents(".showOrgItems");

        $("#btnOkModal").hide();
        $("#btnOkModalFavour").show();
        confirmSubmit('Warning!', 'Are you sure want to delete this item?');
        $("#btnOkModalFavour").click(function (event) {
            event.preventDefault();
            $("#btnOkModal").show();
            $("#btnOkModalFavour").hide();
            $("#yesno").overlay().close();
            orgParent.remove();
        });
    });

    function SubmitAddDashboard() {

        //Send All Org Level along with Dash Level to Server
        $('.showOrgItems').each(function (index) {
            var orglevelid = $.trim($(this).find('#orgLevelShow').find('#orglevelid').val());
            var dashboardlevelid = $.trim($(this).find('#dashLevelShow').find('input[type=hidden]').val());
            orgiteminfo += orglevelid + '=' + dashboardlevelid + '>';
        });
        orgiteminfo = orgiteminfo.substring(0, orgiteminfo.length - 3);
        $('#Dashboard_OrganisationRole_Levels').attr('value', orgiteminfo)

        //Validate Dashboard Form
        if (isValidRequiredDashboard() == true) {
            actionClick('save', false);
        }
    }

    function isValidRequiredDashboard() {
        var generateNum = $("#cbolevel").attr('sb');
        var isValid = true;

        if ($("#txtName").val() == "") {
            $("#txtName").addClass("input-validation-error");
            $("#txtName").parent().parent().parent().parent().next().show();
            isValid = false;
        }
        else {
            $("#txtName").parent().parent().parent().parent().next().hide();
        }

        if (parseInt($("#levelUrlCount").val()) != 0) {

            for (var index = 0; index < parseInt($('#levelUrlCount').val()); index++) {
                if ($("#txtUrl_" + index).val() == "") {
                    $("#txtUrl_" + index).addClass("input-validation-error");
                    $("#txtUrl_" + index).parent().parent().parent().parent().next().show();
                    isValid = false;
                }
                else {
                    if ($("#txtUrl_" + index).val().indexOf(",") > -1) {
                        $("#txtUrl_" + index).parent().parent().parent().parent().next().next().show();
                        isValid = false;
                    }
                    else {
                        $("#txtUrl_" + index).parent().parent().parent().parent().next().next().hide();
                        $("#txtUrl_" + index).parent().parent().parent().parent().next().hide();
                    }

                }
            }
        }
        else {
            $("#sbHolder_" + generateNum + "").next().hide();
        }

        if (IsValidCheckbox()) {
            $("#chkSystem_" + $('#ItemCount').val()).parent().parent().parent().parent().next().next().hide();
        }
        else {
            $("#chkSystem_" + $('#ItemCount').val()).parent().parent().parent().parent().next().next().show();
        }


        return isValid;
    }
    function IsValidCheckbox() {
        var result = false;
        for (var i = 1; i < parseInt($('#ItemCount').val() + 1); i++) {
            if ($("#chkSystem_" + i).is(':checked') == true) {
                result = true;

            }
        }
        return result;
    }
</script>
