@model EM_Report.Domain.Dashboard_Traffic_Light_Rules_Import         
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@{    
    ViewBag.Title = "Import Target List";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="wrapper">
    <div class="w_100p">
    @using (Html.BeginForm("Import", "Dashboard_Traffic_Light_Rules", new { systemid = Request["systemid"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()	
        <div class="formWrap">
            @Html.Hidden("action")            
            <input type="hidden" id="pathFileTmp" name="pathFileTmp" value="@ViewBag.PathFileTmp" />
            <h1>Import Traffic Light List
                <div class="viewImport">
                    <a href="#" class="linkImport"><img src="@Url.ContentV("~/images/ico_import_file.png")" alt="Show Template" title="Show Template" /> Preview template</a>
                    <!-- VIEW DESCRIPTION -->
                    <div class="viewImportContent">
                        <img src="@Url.ContentV("~/images/template_traffic_light.png")" alt="Template" title="Template" />
                    </div>
                    <!-- VIEW DESCRIPTION END -->
                    <div class="clear"></div>
                </div>
            </h1>
            @Html.Partial("_ShowMessage")
            <div class="formInline">
                <label>Excel input</label>
                @Html.TextBoxFor(e => e.File, new { id = "txtExcelInput", name = "txtExcelInput", @class = "Text", type = "file", accept = ".csv" })
                <span class="field-validation-error" style="display: none">*</span>
            </div>   
            <div class="clear"></div>
            <div class="formInline formInlineBtn">
                <span class="btnPurple"><input type="button" id="cmdProcess" value="Process" onclick="ProcessImportingData()"/></span>
            </div>
            <br />
            <table name="tbGrid" cellspacing="0" cellpadding="0" class="tbl">
                <thead>
                    <tr>
                        <td sortby="SystemId" sortdir="" class="col_10">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>System 
                        </td>                      
                        <td sortby="DashboardType" sortdir="" class="col_15">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Dashboard Type
                        </td>
                        <td sortby="Name" sortdir="" class="col_10">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Name
                        </td>
                        <td sortby="Description" sortdir="" class="col_25">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Description
                        </td>
                        <td sortby="FromValue" sortdir="" class="col_10">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>From Percentage
                        </td>
                        <td sortby="ToValue" sortdir="" class="col_10">
                            <span class="css_right ui-icon ui-icon-carat-2-n-s"></span>To Percentage
                        </td>
                    </tr>
                </thead>
                @if (Model != null && !Model.TrafficLightRulesList.IsNullOrEmpty())
                {
                    var i = 0;
                    <tbody>
                        @foreach (var item in Model.TrafficLightRulesList)
                        {
                            <tr class="@(item.IsError ? "err" : (i % 2 == 0 ? "odd" : "even"))">
                                <td class="@(item.ErrorFields.Contains("system") ? "err" : "")" title="@(item.ErrorFields.Contains("system") ? "System Id is not valid" : item.SystemId.ToString())" style="width:*%;">@item.SystemName</td>                                
                                <td class="@(item.ErrorFields.Contains("dashboardtype") ? "err" : "")" title="@(item.ErrorFields.Contains("dashboardtype") ? "Dashboard Type is not valid" : item.DashboardType)" style="width:*%;">@item.DashboardType</td>                               
                                <td class="@(item.ErrorFields.Contains("name") ? "err" : "")" title="@(item.ErrorFields.Contains("name") ? "Name is not valid" : item.Name)" style="width:*%;">@item.Name</td>
                                <td class="@(item.ErrorFields.Contains("description") ? "err" : "")" title="@(item.ErrorFields.Contains("description") ? "Description is not valid" : item.Description)" style="width:*%;">@item.Description</td>
                                <td class="@(item.ErrorFields.Contains("frompercentage") ? "err" : "")" title="@(item.ErrorFields.Contains("frompercentage") ? "From Value is not valid" : item.FromValue.ToString())" style="width:*%;">@item.FromValue</td>
                                <td class="@(item.ErrorFields.Contains("topercentage") ? "err" : "")" title="@(item.ErrorFields.Contains("topercentage") ? "To Value is not valid" : item.ToValue.ToString())" style="width:*%;">@item.ToValue</td>
                            </tr>
                                                                                                                                                                                                                  i++;
                        }
                    </tbody>
                }            
            </table>
            <br />
            <div class="right">
                <span class="btnPurple"><input type="button" value="Save" onclick="SubmitImportingData()"/></span>
                <span class="btnPurple"><input type="button" value="Back To List" onclick="window.location = ('@Url.Action("index", "Dashboard_Traffic_Light_Rules", new { systemid = Request["systemid"] })')"/></span>
            </div>
            <div class="clear"></div>
        </div>
    }
    </div>
</div>
<script type="text/javascript" language="javascript">
    function ProcessImportingData() {
        var isValid = true;

        if ($("#txtExcelInput").val() == "") {
            $("#txtExcelInput").addClass("input-validation-error");
            $("#txtExcelInput").next().show();
            isValid = false;
        }
        else {
            $("#txtExcelInput").next().hide();
        }

        if (isValid) 
        {
            actionClick('process', false);
        }
    }

    function SubmitImportingData() {
        var isValid = true;

        if ($("#pathFileTmp").attr("value") == "") {
            if ($("#txtExcelInput").val() == "") {
                $("#txtExcelInput").addClass("input-validation-error");
                $("#txtExcelInput").next().show();
                isValid = false;
            }
            else {
                $("#txtExcelInput").next().hide();
            }
        }

        if (isValid) {
            actionClick('save', false);
        }
    }
</script>