@model EM_Report.Domain.ResetPassword
@{
    ViewBag.Title = "Reset Password Activation";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}

<div class="wrapper">
    <div class="header">
        <div class="breadcrum_01">
            <a href="#">Account</a>
            <a href="#" class="current">Reset password</a>
        </div>
    </div>
    <div class="container">
        <div class="w_100p">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="formWrap">
                    <h1>Reset Password</h1>
                    <div class="formInline formInlineTxt">
                        <p>
                            Use the form below to set your new password.<br />
                            New passwords are required to be a minimum of 6 characters in length.
                        </p>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="formInline formChangePassword">
                        @Html.Partial("_ShowMessage")
                        @Html.HiddenFor( model => model.strEmail)
                        @Html.HiddenFor(model => model.OldPassword)
                    </div>
                    <div class="clear">
                    </div>
                    <div class="formInline formChangePassword">
                        <label>
                            New Password
                        </label>
                        @Html.PasswordFor(e => e.NewPassword, new { id = "txtNewPassword", name = "txtNewPassword", @class = "password", @style = "border: 1px solid gray" })
                        @Html.ValidationMessageFor(e => e.NewPassword)
                    </div>
                    <div class="clear">
                    </div>
                    <div class="formInline formChangePassword">
                        <label>
                            Confirm New Password
                        </label>
                        @Html.PasswordFor(e => e.ConfirmPassword, new { id = "txtConfirmPassword", name = "txtConfirmPassword", @class = "password", @style = "border: 1px solid gray" })
                        @Html.ValidationMessageFor(e => e.ConfirmPassword)
                    </div>
                    <div class="clear">
                    </div>
                    <div class="formInline formInlineBtn">
                        <span class="btnPurple">
                            <input type="button" name="btnAccept" value="Accept" onclick="$('form').submit();" style="width:54px" />
                        </span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

