@{
    Layout = null;
}

@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;

<div class="Wrapper">
@using (Ajax.BeginForm("SendMailLoadingReport", null, new AjaxOptions { OnBegin = "showLoadingPopup", OnComplete = "hideLoadingPopup" }, new { Id = "frmSendMailLoadingReport" }))
{
    <div id="ReportParameterFrame" style="display: none;">        
        @Html.Hidden("ReportParameterValues", ((string)ViewBag.ReportParams))
        @Html.Hidden("MultiSelects",  ((string)ViewBag.MultipleParamNames))
    </div>
    <div class="BoxContent">
        <div class="BoxHeader">
            <span>Loading report takes a long time. <br/> Would you like to send the report to your email immediately?</span>
        </div>   
        
        <div class="LineWrapper SameLine">
            <label>Report Format</label>
            <div class="WrapperSelectBox SelectForm">
                <select id="format" name="format" class="form-field dropdown-parameter">
                    @foreach (SelectListItem item in ViewBag.RenderFormats)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>    
        <div class="LineWrapper SameLine">
            <label><span title="multiple email: separate by ;">To...</span></label>
            <input id="toEmail" name="toEmail" type="Text" class="Text" value="@ViewBag.ToEmail" title="multiple email: separate by ;" 
                data-val-required="The ToEmail field is required." 
                data-val-regex-pattern="^(([a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([ a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$" 
                data-val-regex="The field ToEmail must match the regular expression &#39;^(([a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([ a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$&#39;." 
                data-val="true" />     
            <input type="hidden" id="reportId" name="reportId"  value="@ViewBag.ReportId" />
            <input type="hidden" id="reportName" name="reportName"  value="@ViewBag.ReportName" />            
        </div>         
        
    </div>
    <div class="LineWrapper SameLine" style="font-size: 1.0em; ">
        <div class="Paging">    
        @Html.Partial("_OkayCancel", new ViewDataDictionary { { "idSearchForm", "#sendMailLoadingReport" } })        
    </div></div>
}
</div>
