@model EM_Report.Models.Report_Data_Object.CreditorModel
@{
	Layout = null;
}
@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;

<div class="Wrapper">
@using (Ajax.BeginForm("UCCreditor", null, new AjaxOptions { UpdateTargetId = "searchCreditor", OnBegin = "showLoadingPopup", OnComplete = "hideLoadingPopup" }, new { Id = "frmCreditor" }))
{
    <div class="BoxHeader">
            <div class="SearchInput">
             @Html.Partial("_ShowMessage")
                @if (ViewBag.ShowClaimNumber == "true")
                {
                   
                    <label style="width: 136px;display: inline-block;">Claim number</label><input type="text" id="claimNumber" name="claimNumber" readonly="readonly" value="@ViewBag.ClaimNumber" style="background-color: #DFDFDF;Margin:5px;" class="Popup" />
                   <br/>

                }
                
                <label>WC Provider Code </label><input type="text" id="wcProviderCode" name="wcProviderCode" value="@ViewBag.WCProviderCode" class="Popup" />
                <label>HC No</label><input type="text" id="hcNo" name="hcNo" value="@ViewBag.HCNo" class="Popup" />
                <label>Name </label><input type="text" id="name" name="name" value="@ViewBag.Name" class="Popup" />
                <label style="width: 137px;display: inline-block;">ABN </label>
                 @Html.TextBoxFor(x => x.ABN, new { @class = "Popup" })
                 <input type="hidden" id="showClaimNumber" name="showClaimNumber" value="@ViewBag.showClaimNumber" />
                <input id="btnSearch" type="image" title="Search" src="@Url.Image("btnSearch.png")"  />
            </div>                 
    </div>
    <div class="BoxContent">
        <table id="tbGrid" name="tbGrid" class="Grid">
            <thead>
                <tr>
                    <th style="width: 30px;"><input type="checkbox" id="checkboxall" name="chkAll" /> </th>
                    <th>Creditor No</th>
					<th>Name</th>
                    <th>ABN</th>
					<th>WC Provider Code</th>
                    <th class="last-column">HC No</th>
                </tr>
		    </thead>
            @if (ViewBag.creditorModel != null)
            {
                var odd = true; 
				<tbody>
					@foreach (var item in ViewBag.creditorModel)
     {
                         <tr>
                            <td><input type="checkbox" name="chkItem" value="@(item.CreditorNo)" id="chkId@(item.CreditorNo)"/> </td>
                            <td title="@item.CreditorNo">@item.CreditorNo</td>									
							<td title="@item.Name">@item.Name</td>
                            <td title="@item.ABN">@item.ABN</td>									
							<td title="@item.WCProviderCode">@item.WCProviderCode</td>
                            <td class="last-column" title="@item.HCNumber">@item.HCNumber</td>	
                        </tr>
                                                                      odd = !odd;
     }
				</tbody>      
            }
		</table>
        <div class="Paging">
          @Html.Partial("_OkayCancel", new ViewDataDictionary { { "idSearchForm", "#searchCreditor" }, { "policyform", "_HasCreditorForm" } }) 
            @if (ViewBag.creditorModel != null)
            {
                 @Html.Partial("_UCPaging")                 
            }  
        </div>	
        @Html.Partial("_HiddenAction")	
</div>
}
</div>
<script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
