@model IEnumerable<EM_Report.Models.Report_Data_Object.ProviderModel>
@{
    Layout = null;
}

@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;

<div class="Wrapper">
@using (Ajax.BeginForm("UCProvider", null, new AjaxOptions { UpdateTargetId = "searchProvider", OnBegin = "showLoadingPopup", OnComplete = "hideLoadingPopup" }, new { Id = "frmProvider" }))
{
    <div class="BoxHeader">
            <div class="SearchInput">
                @if (ViewBag.ShowClaimNumber == "true")
                {
                    <label style="width: 180px;display: inline-block;">Claim number</label><input type="text" id="claimNumber" name="claimNumber" readonly="readonly" value="@ViewBag.ClaimNumber" style="background-color: #DFDFDF" class="Popup" />
                    <br />
                }
                <label style="width: 180px;display: inline-block;">Surname or Org. Name </label><input type="text"  id="name" name="name" value="@ViewBag.ProviderName" class="Popup" />
                <input type="hidden" id="showClaimNumber" name="showClaimNumber" value="@ViewBag.showClaimNumber" />
                <input id="btnSearch" type="image" title="Search" src="@Url.Image("btnSearch.png")"  />
            </div>                 
    </div>
    <div class="BoxContent">
        <table id="tbGrid" name="tbGrid" class="Grid">
            <thead>

                <tr>
                    <th style="width: 30px;"><input type="checkbox" id="checkboxall" name="chkAll" /> </th>
                    <th>WC Reg No</th>                                
                    <th>Type</th>
                    <th>Name</th>
                    <th class="last-column">Organisation Name</th>
                </tr>
		    </thead>
            @if (!ViewData.Model.IsNullOrEmpty())
            {
                var odd = true; 
				<tbody>
					@foreach (var item in Model)
                    {
                        var name = item.FirstName + " " + item.LastName;
                                    
                        <tr>
                            <td><input type="checkbox" name="chkItem" value="@(item.WCRegNo)" id="chkId@(item.WCRegNo)"/> </td>
                            <td title="@item.WCRegNo">@item.WCRegNo</td>                                        
                            <td title="@item.Type">@item.Type</td>                                        
                            <td title="@name">@name</td>
                            <td class="last-column" title="@item.OrganisationName">@item.OrganisationName</td>
                        </tr>
                        odd = !odd;
                    }
				</tbody>      
            }
		</table>
        <div class="Paging">
             @Html.Partial("_OkayCancel", new ViewDataDictionary { { "idSearchForm", "#searchProvider" }, { "policyform", "_HasProviderForm" } }) 
            @if (!ViewData.Model.IsNullOrEmpty())
            {
                 @Html.Partial("_UCPaging")                 
            }  
        </div>  
		@Html.Partial("_HiddenAction")
</div>
}
</div>
<script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
