@model IEnumerable<EM_Report.Models.AddressBookModel>
@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;
@{
	Layout = null;
	
}

<div class="column full ui-sortable">
	<div class="box">
		<h3 class="box-header">all contacts</h3>
		<div class="box-content">
			<div class="dataTables_wrapper" id="tabledata_wrapper">
				@using (Ajax.BeginForm("AllContacts" , null , new AjaxOptions { UpdateTargetId = "divContact", OnBegin = "showLoading", OnComplete = "hideLoading" }, new { id = "frmContact" }))
				{
					<div class="fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
						<div id="tabledata_filter" class="dataTables_filter">
								Search: <input type="text" id="search_input" name="search_input" value="@ViewBag.SearchValue" /><a class ="btnSearch" onclick="$('#frmContact').submit();">&nbsp;</a>
						</div>
					</div>
					<div style="overflow:auto; height: 200px">
					<table id="tbContact" class="display">
					  <thead>
							<tr>
								<th>Firstname</th>                                
								<th>Middle name</th>                                
								<th>Lastname</th>                                
								<th>email</th>                                
							</tr>
						</thead>
					@if (!ViewData.Model.IsNullOrEmpty())
					 {
						 var odd = true; 
						<tbody>
								@foreach (var item in Model)
								{
									<tr class=" @ViewHelpers.RowCss(odd)" onclick="AddContacts('@item.Email'); return false;">
									<td title="@item.FirstName">@item.FirstName</td>                                                                                       
									<td title="@item.MiddleName">@item.MiddleName</td>                                        
									<td title="@item.LastName">@item.LastName</td>                                        
									<td title="@item.Email">@item.Email</td>    
									</tr>                                   
									odd = !odd;
								}
						</tbody>                        
					}
					 else
					 { 
						<tbody><tr><td>No item found</td></tr></tbody>
					}
					</table>
					</div>
				}
				<hr />
				<div>
					<label class="form-label" title="multiple email: separate by ;">To</label>
					<textarea class="form-field" id="txtToPopup" rows="2" cols="1" style="width:550px; height:40px !important;"></textarea> 
				</div>
			</div>
			
		</div>
	</div>
</div>

