@model IEnumerable<EM_Report.Models.AddressBookModel>
@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;

<div class="column full ui-sortable">
	<div class="box">
		<h2 class="box-header">address book > all contacts</h2>
		<div class="box-content">
			<div class="dataTables_wrapper" id="tabledata_wrapper">
				@using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", OnBegin = "showLoading", OnComplete = "hideLoading" }))
				{
					<script src="@Url.Content("~/scripts/jsReport.js")" type="text/javascript"></script>
					<div class="fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
						<div id="tabledata_length" class="dataTables_length">Show
							@Html.DropDownList("cboDisplayEntry", (SelectList)ViewBag.DisplayEntry) @EM_Report.BLL.Resources.Resource.txtItems
						</div>
						<div id="tabledata_filter" class="dataTables_filter">
								Search: <input type="text" id="search_input" name="search_input" value="@ViewBag.SearchValue" /><a class ="btnSearch">&nbsp;</a>
						</div>
					</div>
					<table id="tbContact" class="display" name="tbGrid">
					  <thead>
							<tr>
								<th class="first tc center"><input type="checkbox" id="checkboxall" name="chkAll" /> </th>                               
								<th sortby="FirstName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Firstname</th>                                
								<th sortby="MiddleName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Middle name</th>                                
								<th sortby="LastName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Lastname</th>                                
								<th sortby="Email" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>email</th>                                
							</tr>
						</thead>
					@if (!ViewData.Model.IsNullOrEmpty())
					{             
						var odd = true; 
						<tbody>
								@foreach (var item in Model)
								{
									<tr class=" @ViewHelpers.RowCss(odd)">
									<td class="first tc"><input type="checkbox" name="chkItem" value="@(item.Id)" id="chkId@(item.Id)"/> </td>
									<td title="@item.FirstName"><a href="@Url.Action("details", "addressbook", new { id = item.Id })">@item.FirstName</a></td>                                                                                       
									<td title="@item.MiddleName">@item.MiddleName</td>                                        
									<td title="@item.LastName">@item.LastName</td>                                        
									<td title="@item.Email">@item.Email</td>    
									</tr>                                   
									odd = !odd;
								}
						</tbody>                        
					}
					</table>
					if (!Model.IsNullOrEmpty())
					{
						@Html.Partial("~/Views/Shared/UCPager.cshtml")                                          
					}
					<input type="hidden" id="hddSort" name="hddSort" value="@ViewBag.SortValue" />
					<input type="hidden" id="hddAction" name="hddAction"/>
					<input type="hidden" id="hddPaging" name="hddPaging" value="@ViewBag.PagingValue" />
					<hr />
					<a href="@Url.Action("details", "addressbook")" class="button white"><span class="icon_text addnew"></span>add new</a>
					@*<a href="#" class="button white"><span class="icon_text addnew"></span>Import contacts</a>*@
				    <a id="cmdDelete" value="@ResourcesHelper.Permission_Delete" class="button white"><span class="icon_text cancel"></span>Remove</a>
				}
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
