@model List<EM_Report.Domain.Dashboard>
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@using EM_Report.Domain.Resources;
@{
    ViewBag.Title = "Reports";
    ViewBag.Heading = "Report >> DashBoard list";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";   
}

@if (Base.LoginSession.isSystemUser)
{    
    <div class="wrapper">
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", OnBegin = "showLoading", OnComplete = "hideLoading" }))
    {        
        @Html.AntiForgeryToken()
        <link href="@Url.ContentV("~/Css/jquery.selectbox.css")" rel="stylesheet" type="text/css" />  
        <script type="text/javascript" src="@Url.ContentV("~/scripts/custom_javascript.js")"></script> 
        <script src="@Url.ContentV("~/scripts/iReport.js")" type="text/javascript"></script>
        <link href="@Url.ContentV("~/Css/report.css")" rel="stylesheet" type="text/css" />
        @Html.Partial("_SearchBar")
        <div class="w_100p">
          <div class="formWrap">
            <h1>Dashboard List</h1>
            <table name="tbGrid" cellspacing="0" cellpadding="0" class="tbl">
                 <thead>
                    <tr>                                                                  
                        <th class="col_3 first center"><input type="checkbox" id="checkboxall" name="chkAll" /></th>
                        <td sortby="Name" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Dashboard Name</td>
                        <td sortby="Url" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>url</td>                                
                        <td sortby="Description" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>description</td>                                
                        <td class="center" sortby="StatusName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>status</td>
                        <td class="center" sortby="Create_Date" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>@Resource.txtCreatedOn</td>
                        <td sortby="OwnerName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>@Resource.txtOwner</td>                                
                        <td class="action"><span class="css_right"></span>Actions</td>
                    </tr>
                </thead>
                @if (!ViewData.Model.IsNullOrEmpty())
                {
                    var i = 0;
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="@(i % 2 == 0 ? "odd" : "even")">
                                <th class="center" style="width:30px;"><input type="checkbox" name="chkItem" value="@(item.DashboardId)" id="chkId@(item.DashboardId)"/></th>
                                <td title="@item.Name" style="width:*%;"><a href="@Url.Action("details", "Dashboard", new { id = item.DashboardId, systemid = ViewBag.currentSystemId })"></a></td>
                                <td title="@item.Url" style="width:13%;"></td>                                        
                                <td title="@item.Description" style="width:13%;"></td>                                       
                                <td title="@item.Status" class="center" style="width:8%;">@item.StatusName</td>
                                <td title="@(Base.GetDatetimeText(item.Create_Date))" class="center" style="width:12%;">@(Base.GetDatetimeText(item.Create_Date))</td>
                                <td title="@(item.OwnerName)" style="width:10%;">@(item.OwnerName)</td>
                                <td class="action"><a title="view dashboard" href="@Url.Action("level1", "dashboard", new { reportpath = Base.LoginSession.objConfig.ReportPathPrefix.ToLower() + item.Url.ToString().Split(',')[0], rId = item.DashboardId, sId = item.SystemId })"><img src="@Url.ContentV("~/images/ico_action.png")" /></a></td>                                          
                            </tr>
                                                                                                                                                                                                                                                                                          i++;
                        }
                    </tbody>
                }            
            </table>    
            <br />
            <div style="float:right">
                @if (Login.AuthorizeSystemPermission(ResourcesHelper.System_Report, ResourcesHelper.Permission_Add))
                {
                   <span class="btnPurple"><input type="button" value="@EM_Report.Domain.Resources.Resource.Action_AddNew" onclick="window.location = ('@Url.Action("details", "dashboard", new { systemid = ViewBag.currentSystemId })')"/></span>
                }                
                @if (Login.AuthorizeSystemPermission(ResourcesHelper.System_Report, ResourcesHelper.Permission_Update))
                {
                   <span class="btnPurple"><input type="button" id="cmdActive" value="@ResourcesHelper.Action_Active" /></span>
                   <span class="btnPurple"><input type="button" id="cmdInActive" value="@ResourcesHelper.Action_InActive" /></span> 
                }
            </div>
            <div class="Paging">
                @if (!Model.IsNullOrEmpty())
                {
                    @Html.Partial("_UCPaging")                                          
                }
            </div>  
            @Html.Partial("_HiddenAction")
        </div>
    </div>
    }   
</div>
}