@using EM_Report.Helpers;
@using EM_Report.BLL.Commons;

 <div class="column full ui-sortable">
    <div class="box">
        <h2 class="box-header">Audit Trails</h2>
        <div class="box-content">
            <div class="dataTables_wrapper" id="tabledata_wrapper">                    
                @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", OnBegin = "showLoading", OnComplete = "hideLoading" }))
                {
                    <script src="@Url.Content("~/scripts/jsReport.js")" type="text/javascript"></script>                        
                    <div class="fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
                        <div id="tabledata_length" class="dataTables_length">Show
                            @Html.DropDownList("cboDisplayEntry", (SelectList)ViewBag.DisplayEntry) @EM_Report.BLL.Resources.Resource.txtItems  
                        </div>
                        <div id="tabledata_filter" class="dataTables_filter">			                
			                Module: @Html.DropDownList("cboAuditList", (SelectList)(new SelectList(EM_Report.Helpers.Base.AuditList(), "value", "key")))  
                            Start Date: <input type="text" id="txtStartDateAudit" value="@(ViewBag.StartDate ?? "mm/dd/yyyy")" name="txtStartDateAudit" class=" form-field datepicker" />
                            End Date: <input type="text" id="txtEndDateAudit" value="@(ViewBag.EndDate ?? "mm/dd/yyyy")" name="txtEndDateAudit" class=" form-field datepicker" />
                            Search: <input type="text" style="width:100px !important" id="search_input" name="search_input" value="@ViewBag.AuditSearch" /><a class ="btnSearch">&nbsp;</a>
                        </div>
                    </div>      
                    @Html.Partial("~/Views/AuditTrail/uc" + (string)ViewBag.AuditType + "Audit.cshtml", new ViewDataDictionary { { "AuditPageSize", (int)ViewBag.AuditPageSize }, { "StartDate", (string)ViewBag.StartDate }, { "EndDate", (string)ViewBag.EndDate }, { "AuditSearch", (string)ViewBag.AuditSearch }, { "AuditSort", (string)ViewBag.AuditSort }, { "AuditPaging", (int)ViewBag.AuditPaging } })                                   
                    <input type="hidden" id="hddSort" name="hddSort" value="@ViewBag.AuditSort" />
                    <input type="hidden" id="hddAction" name="hddAction" />
                    <input type="hidden" id="hddPaging" name="hddPaging" value="@ViewBag.AuditPaging" />
                }                   
                <hr/>
                @if (Login.AuthorizeSystemPermission(int.Parse(EM_Report.BLL.Resources.Control.System_AuditTrail), int.Parse(EM_Report.BLL.Resources.Control.Permission_Delete)))
                {
                    <a id="cmdDelete" value="@EM_Report.BLL.Resources.Control.Status_InActive" class="button white"><span class="icon_text cancel"></span>delete</a>                    
                }        
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
