@using EM_Report.BLL.Pager;
@using EM_Report.BLL.Services;
@using EM_Report.BLL.Commons;
@using EM_Report.Models;
@{    
    var list = new Report_Organisation_Roles_AuditService(EM_Report.Helpers.Base.LoginSession).GetAllQueryable((string)@ViewData["AuditSort"], (string)@ViewData["AuditSearch"], (string)@ViewData["StartDate"], (string)@ViewData["EndDate"]);
    var pagedList = list.ToPagedList<Report_Organisation_Roles_AuditModel>((int)@ViewData["AuditPaging"], (int)@ViewData["AuditPageSize"]);
    ViewBag.Pager = pagedList;
    <table name="tbGrid" class="display">
        <thead>
            <tr>                    
                <th class="first tc center"><input type="checkbox" name="chkAll" /> </th>
                <th class="" sortby="ReportName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Report Name</th>                    
                <th class="" sortby="LevelName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Level Name</th>                                    
                <th class="ui-state-default tc" sortby="Action_Date" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Action Date</th>
                <th class="ui-state-default tc" sortby="Action_Type" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Action Type</th>            
                <th class="ui-state-default" sortby="OwnerName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Action Owner</th>            
            </tr>
        </thead>
        @if (pagedList.Any())
        {        
            <tbody>
                @foreach (var item in pagedList)
                {
                    <tr class="gradeA odd">   
                        <td class="first tc"><input type="checkbox" name="chkItem" value="@item.Id"/></td>                        
                        <td class="sorting_1">@item.ReportName</td>                                              
                        <td class="sorting_1">@item.LevelName</td>                        
                        <td class="tc">@item.Action_Date</td>                          
                        <td class="tc">@item.Action_Type</td> 
                        <td>@item.OwnerName</td>                         
                    </tr>	
                }                       
            </tbody>               
        }
    </table>    
    if (pagedList.Any())
    {
        @Html.Partial("~/Views/Shared/UCPager.cshtml")                                          
    }
}
