@using EM_Report.Helpers;
<div class="breadcrum_02" style="z-index: 4910;">
    <div class="left" style="z-index: 4900;">
        <div class="funcBlock" style="z-index: 4890;">
            <dl>
                    <dt>
                       Show:
                    </dt>
                      <dd>
                          <span class="w50" style="z-index: 4880;">
                            @Html.DropDownList("cboDisplayEntry", (SelectList)ViewBag.DisplayEntry)          
                          </span>
                          &nbsp;
                          <span style="margin-left: 11px;">  @EM_Report.Domain.Resources.Resource.txtItems   
                       </span>
                         
                    </dd>
                </dl>
         </div>
         <div class="funcBlock" style="z-index: 4870; width: 300px;">              
        @if (Base.GetController.ToLower() == "user"
            && Base.GetAction.ToLower() == "index")
        {      
            <dl>
                <dt>User Type:</dt>
                    <dd>
                        <span class="w89" style="z-index: 4860;">
                           @Html.DropDownList("cboUserType", (SelectList)ViewBag.UserType, new { style = "width: 113px !important" })   
                        </span>                   
                    </dd>            
            </dl>

        }
        @if (!(Base.GetController.ToLower() == "systemrole"
            || Base.GetController.ToLower() == "external"
            || Base.GetController.ToLower() == "dashboardlevel"
            || (Base.GetController.ToLower() == "report"
            && Base.GetAction.ToLower() == "category")))
        {      
            <dl style="@(Base.GetController.ToLower() == "user"
             && Base.GetAction.ToLower() == "index"
                    && (Request.Form["cboUserType"] == null || Request.Form["cboUserType"].ToLower().IndexOf("internal") <0)
                    ?"display:none;":"display:none;"); float: right;">
              <dt>System:</dt>
              <dd>
               	    <span class="w85">
                       @Html.DropDownList("cboSystem", (SelectList)ViewBag.cboSystemType, new { style = "width: 88px !important" })                        
                    </span>  
                </dd>          
            </dl>     
        }
   
        @if (Base.GetController.ToLower() == "report" && Base.GetAction.ToLower() == "index")
        {
            <dl>
                 <dt>   Module:</dt>
                <dd>
                  <span class="w90">
                     @Html.DropDownList("cboCategory", (SelectList)ViewBag.CategoryList)
                  </span>  
                </dd>
           </dl>
        }
              
        <div class="clear"></div>
         </div> 
    </div>
    <div class="right" style="z-index: 4870;">
            <div class="funcBlock" style="z-index: 4830;">
                <dl>
                <dt>Search</dt>
                    <dd> 
                        <input type="text" id="txtInput" class="w200" name="search_input" value="@ViewBag.SearchValue" />
                        &nbsp;
                            <input id="btnSearch" style="  height: 26px!important;margin: 0!important;padding: 0!important; vertical-align: middle!important;width: 30px!important;background: none repeat scroll 0 0 transparent;" type="image" title="Search" src="@Url.ContentV("~/images/ico_search.png")" />						        
                    </dd>
                </dl>
            </div>                
        </div>
    <div class="clear" style="z-index: 4850;"></div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#selectcboCategory').hide();
        $('#selectcboSystem').hide();
    });
</script>