@using EM_Report.Domain;
@using EM_Report.Helpers;
@using EM_Report.Domain.Enums;
@{

}
@*Top section*@
<div class="top">
    <div class="logo"><a href="https://www.employersmutual.com.au/"><img src="@Url.ContentV("~/images/logo_DART.png")" alt="" title="" /></a></div>
    <div class="topLink">
        <p>Hello @Base.LoginSession.strUserName</p>
        <a href="@Base.AbsoluteUrl("~/account/login?logout=true")">Logout</a>      
        @if (Base.LoginType == LoginType.External)
        {
            <span>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;</span>
            <a href="@Base.AbsoluteUrl("~/account/changepassword")">Change password</a>
        }        
    </div>
    <div class="logo_Emp"><a href="https://www.employersmutual.com.au/‎"><img src="@Url.ContentV("~/images/logo_EMP_color.png")" alt="" title="" /></a></div>
    <a class="navStart" style="cursor:pointer;" id="startBtn">Start</a>
    <div class="clear"></div>
</div>
@*End Top section*@