@model EM_Report.Models.TeamModel                 
@using EM_Report.Helpers;
@{
    ViewBag.Title = "Team";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
<div class="Wrapper">
    <div class="BoxHeader">
        <span>Report >> Team >> @(Model!=null?"Edit Team":"Add Team")</span>
    </div>
    <div class="BoxContent">
       @using (Html.BeginForm())
       {            
            <div class="FormWrapper">
                @if (Model != null)
                {
                    @Html.HiddenFor(e => e.TeamId)
                }
                @Html.Partial("_ShowMessage")           
                <div class="LineWrapper First SameLine">
                    <label>System Role Name</label>                    
                    @Html.TextBoxFor(e => e.Name, new { id = "txtName", name = "txtName", @class = "Text" })
					@Html.ValidationMessageFor(e => e.Name) 
                </div>               
                <div class="LineWrapper SameLine">
                    <label>Description</label>
                    @Html.TextAreaFor(e => e.Description, new { id = "txtDescription", @class = "Text" })
					@Html.ValidationMessageFor(e => e.Description) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Status</label>
                    <div class="WrapperSelectBox SelectForm">
                          @Html.DropDownListFor(e => e.Status, new SelectList(Base.StatusList(), "StatusId", "Name"))
                    </div>
                </div>
                @if (Model != null && Model.TeamId > 0)
                {
                     <div class="LineWrapper SameLine">
                            <label>Create Date</label>                        
                            @Html.TextBoxFor(e => e.Create_Date, new { @class = "Text", @readonly = true, @disabled = "disable" })
                    </div> 
                    <div class="LineWrapper SameLine">
                            <label>Created By</label>                        
                            @Html.TextBoxFor(e => e.OwnerName, new { @class = "Text", @readonly = true, @disabled = "disable" })
                    </div>      
                }        
            </div>
            <div class="CommandWrapper">                
                <a id="cmdSave" class="ButtonSave">Save</a>
                <a class="ButtonBack" href="@Url.Action("index", "team")">Back To List</a>                
            </div>           
       }
    </div>  
</div>