@model IEnumerable<EM_Report.Models.External_GroupModel>
@using EM_Report.BLL.Pager;
@using EM_Report.Helpers;
@using EM_Report.BLL.Commons;
@{
    ViewBag.Title = "External Group";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="Wrapper">
   @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", OnBegin = "showLoading", OnComplete = "hideLoading" }))
   {
        <script src="@Url.Content("~/scripts/iReport.js")" type="text/javascript"></script>
        <link href="@Url.Stylesheet("report.css")" rel="stylesheet" type="text/css" />    
        @Html.Partial("_SearchBar")
        <div class="BoxContent">
            <table id="tbGrid" name="tbGrid" class="Grid">
                <thead>
                   <tr>
                        <th class="center"><input type="checkbox" name="chkAll" /> </th>
                        <th sortby="Name" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Name</th>
                        <th sortby="Description" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Description</th>                                                                        
                        <th class="center" sortby="StatusName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>Status</th>                                        
                        <th class="center" sortby="Create_Date" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>@EM_Report.BLL.Resources.Resource.txtCreatedOn</th>
                        <th class="last-column" sortby="OwnerName" sortdir=""><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>@EM_Report.BLL.Resources.Resource.txtOwner</th>
                    </tr>
                </thead>
                @if (!ViewData.Model.IsNullOrEmpty())
                {               
                    <tbody>
                            @foreach (var item in Model)
                            {
                               <tr>
                                    <td class="center" style="width:30px;"><input type="checkbox" name="chkItem" value="@item.External_GroupId" /> </td>
                                    <td title="@item.Name" style="width:*%"><a href="@Url.Action("details/" + @item.External_GroupId + "", "external")">@item.Name</a></td>
                                    <td title="@item.Description" style="width:20%">@item.Description</td> 
                                    <td class="center" style="width:10%">@item.StatusName</td>  
                                    <td class="center" style="width:15%">@Base.GetDatetimeText(item.Create_Date.ToString())</td>                                                                                    
                                    <td class="last-column" title="@item.OwnerName" style="width:10%">@item.OwnerName</td>                                                                 
                                </tr>	             
                            }
                    </tbody>                        
                }            
            </table>        
        </div>
        <div class="Paging">
            <div style="float:right">
            @if (Login.AuthorizeSystemPermission(int.Parse(EM_Report.BLL.Resources.Control.System_Group), int.Parse(EM_Report.BLL.Resources.Control.Permission_Add)))
            {
            <a class="CmdButton Add" href="@Url.Action("details", "external")">Add New</a>
            }
            @if (Login.AuthorizeSystemPermission(int.Parse(EM_Report.BLL.Resources.Control.System_Group), int.Parse(EM_Report.BLL.Resources.Control.Permission_Delete)))
            {
            <a class="CmdButton Delete" id="cmdDelete" value="@EM_Report.BLL.Resources.Control.Status_InActive">Delete</a>                    
            }  
            @if (Login.AuthorizeSystemPermission(int.Parse(EM_Report.BLL.Resources.Control.System_Group), int.Parse(EM_Report.BLL.Resources.Control.Permission_Update)))
            {
            <a id="cmdActive" class="CmdButton Active" value="@ResourcesHelper.StatusActive">Active</a>
            <a id="cmdInActive" class="CmdButton InActive" value="@ResourcesHelper.StatusInactive">InActive</a>
            }
        </div>
        @if (!Model.IsNullOrEmpty())
        {
            @Html.Partial("_UCPaging")                                          
        }        
        </div>    
       @Html.Partial("_HiddenAction")
   }   
</div>


