@model EM_Report.Domain.Dashboard_Graph_Description_Import         
@using EM_Report.Common.Utilities;
@using EM_Report.Helpers;
@using EM_Report.Domain.Resources;
@{    
    ViewBag.Title = "Import Graph Description List";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="wrapper">
    <div class="w_100p">
    @using (Html.BeginForm("Import", "Dashboard_Graph_Description", new { systemid = Request["systemid"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="formWrap">
            @Html.Hidden("action")            
            <input type="hidden" id="pathFileTmp" name="pathFileTmp" value="@ViewBag.PathFileTmp" />
            <h1>Import Graph Description List
            <div class="viewImport">
                <a href="#" class="linkImport"><img src="@Url.ContentV("~/images/ico_import_file.png")" alt="Show Template" title="Show Template" /> Preview template</a>
                <!-- VIEW DESCRIPTION -->
                <div class="viewImportContent">
                    <img src="@Url.ContentV("~/images/template_description.png.png")" alt="Template" title="Template" />
                </div>
                <!-- VIEW DESCRIPTION END -->
                <div class="clear"></div>
            </div>
            </h1>
            @Html.Partial("_ShowMessage")
            <div class="formInline">
                <label>Excel input</label>
                @Html.TextBoxFor(e => e.File, new { id = "txtExcelInput", name = "txtExcelInput", @class = "Text", type = "file", accept = ".csv" })
                <span class="field-validation-error" style="display: none">*</span>
            </div>   
            <div class="clear"></div>
            <div class="formInline formInlineBtn">
                <span class="btnPurple"><input type="button" id="cmdProcess" value="Process" onclick="ProcessImportingData()"/></span>
            </div>
            <br />
            <table name="tbGrid" cellspacing="0" cellpadding="0" class="tbl">
                <thead>
                    <tr>
                        <td class="col_25"><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>type</td>
                        <td class="col_10"><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>system id</td>
                        <td class="col_55"><span class="css_right ui-icon ui-icon-carat-2-n-s"></span>description</td>
                    </tr>
                </thead>
                @if (Model != null && !Model.GraphDescriptionList.IsNullOrEmpty())
                {
                    var i = 0;
                    <tbody>
                        @foreach (var item in Model.GraphDescriptionList)
                        {
                            <tr class="@(item.IsError ? "err" : (i % 2 == 0 ? "odd" : "even"))">
                                <td class="@(item.ErrorFields.Contains("type") ? "err" : "")" title="@(item.ErrorFields.Contains("type") ? "Type is not valid" : item.Type)" style="width:13%;">@item.Type</td>
                                <td class="@(item.ErrorFields.Contains("system") ? "err" : "")" title="@(item.ErrorFields.Contains("system") ? "System Id is not valid" : item.SystemId.ToString())" style="width:*%;">@item.SystemId</td>
                                <td class="@(item.ErrorFields.Contains("description") ? "err" : "")" title="@(item.ErrorFields.Contains("description") ? "Description is not valid" : item.Description)" style="width:13%;">@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.Description))</td>
                            </tr>
                                                                                                                                                                                                                       i++;
                        }
                    </tbody>
                }            
            </table>
            <br />
            <div class="right">
                <span class="btnPurple"><input type="button" value="Save" onclick="SubmitImportingData()"/></span>
                <span class="btnPurple"><input type="button" value="Back To List" onclick="window.location = ('@Url.Action("index", "Dashboard_Graph_Description", new { systemid = Request["systemid"] })')"/></span>
            </div>
            <div class="clear"></div>
        </div>
    }
    </div>
</div>
<script type="text/javascript" language="javascript">
    function ProcessImportingData() {
        var isValid = true;

        if ($("#txtExcelInput").val() == "") {
            $("#txtExcelInput").addClass("input-validation-error");
            $("#txtExcelInput").next().show();
            isValid = false;
        }
        else {
            $("#txtExcelInput").next().hide();
        }

        if (isValid) 
        {
            actionClick('process', false);
        }
    }

    function SubmitImportingData() {
        var isValid = true;

        if ($("#pathFileTmp").attr("value") == "") {
            if ($("#txtExcelInput").val() == "") {
                $("#txtExcelInput").addClass("input-validation-error");
                $("#txtExcelInput").next().show();
                isValid = false;
            }
            else {
                $("#txtExcelInput").next().hide();
            }
        }

        if (isValid) {
            actionClick('save', false);
        }
    }
</script>