@model EM_Report.Models.Organisation_Levels_Model
@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;		   
@{
	ViewBag.Title = "Level Details";
	Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
@functions {  
	public bool IsNew()
	{
		return (Model != null && Model.LevelId > 0) ? false : true;
	}

	public string AddButtonText()
	{
		return IsNew() ? "add" : "save";
	}

	public string GetRoleDisplayName(EM_Report.Models.Organisation_RolesModel role)
	{
		if (string.IsNullOrEmpty(role.LevelName)) 
		{
			return role.Name;
		}
		return role.Name + " ( " + role.LevelName + " )" ;
	}
}
<div class="Wrapper">
    <div class="BoxHeader">     
        <span>Report >> Organisation Role Level >> @(IsNew() ? "Add Organisation Role Level" : "Edit Organisation Role Level")</span>
    </div>
    <div class="BoxContent">
       @using (Html.BeginForm())
       {            
            <div class="FormWrapper">
                @Html.Hidden("action")
				@Html.HiddenFor(e => e.LevelId)
                @Html.HiddenFor(e => e.Sort)
				@Html.Partial("_ShowMessage") 
                <div class="LineWrapper First SameLine">
                    <label>Level Name</label>                    
                    @Html.TextBoxFor(e => e.Name, new { id = "txtName", name = "txtName", @class = "Text" })
					@Html.ValidationMessageFor(e => e.Name) 
                </div>                
                <div class="LineWrapper SameLine">
                    <label>Description</label>
                    @Html.TextAreaFor(e => e.Description, new { id = "txtDescription", @class = "Text" })
					@Html.ValidationMessageFor(e => e.Description) 
                </div>
                <div class="LineWrapper SameLine">
                    <label>Status</label>
                    <div class="WrapperSelectBox SelectForm">
                          @Html.DropDownListFor(e => e.Status, new SelectList(Base.StatusList(), "StatusId", "Name"))
                    </div>
                </div>                
                @if (!IsNew())
                {
                    <div class="LineWrapper SameLine">
                        @Html.Hidden("secondList")
                        <label>Current Organisation Of Level</label>                                                
                        <div style="height: auto;overflow: hidden;">
                            <ul id="lstSecondList" class="list-full">
				                @if (((IEnumerable<EM_Report.Models.Organisation_RolesModel>)ViewBag.RoleList).IsNullOrEmpty())
                                {
                                    <li><span>No item found.</span></li>
                                }
                                else
                                {
                                    foreach (var item in (IEnumerable<EM_Report.Models.Organisation_RolesModel>)ViewBag.RoleList)
                                    {
					                    <li>
						                    <span>+ @item.Name</span>
					                    </li>
                                    }
                                }
			                </ul>
                        </div>		
                    </div>
                    <div class="LineWrapper SameLine">
                        <label>Create Date</label>                        
                        @Html.TextBoxFor(e => e.Create_Date, new { @class = "Text", @readonly = true, @disabled = "disable" })
                    </div>
                    <div class="LineWrapper SameLine">
                        <label>Created By</label>                        
                        @Html.TextBoxFor(e => e.OwnerName, new { @class = "Text", @readonly = true, @disabled = "disable" })
                    </div>      
                }
            </div>
            <div class="CommandWrapper">                
               @if (Login.AuthorizeSystemPermission(ResourcesHelper.System_Group, ResourcesHelper.Permission_Add))
                {
				<a id="btnSave" class="ButtonSave" onclick="actionClick('save', false);">Save</a>
                }
                <a class="ButtonBack" href="@Url.Action("index", "organisation_level")">Back To List</a>                
            </div>
       }
    </div>  
</div>