@using EM_Report.Domain;
@using EM_Report.Helpers;
@using EM_Report.Domain.Enums;
@{

}
<div class="header">
    @{        
        var intSystemId = !string.IsNullOrEmpty(Request["systemid"]) ? int.Parse(Request["systemid"]) : 0;
        var systemName = Base.GetSystemNameByUrl(Request.Url.PathAndQuery);
        
        if (string.IsNullOrEmpty(systemName))
        {
            // try to get from system Id
            if (intSystemId != 0)
            {
                var lstSystems = Base.LoginSession.lstSystems.ToList();
                foreach (var system in lstSystems)
                {
                    if (system.SystemId == intSystemId) 
                    {
                        systemName = system.Name.ToUpper();
                    }
                }
            }
        }

        systemName = (systemName == "EML" ? "WCNSW" : systemName == "HEM" ? "Hospitality" : systemName);
        if (Base.GetAction.ToLower().Contains("changepassword"))
        {
            if(Base.LoginType == LoginType.External)
            {
                 <div class="breadcrum_01">
                    <a class="current">Account</a> <a class="current">Change password</a>
                </div>
            }
        }
        else
        {
        <div class="breadcrum_01">
            @if (systemName != string.Empty)
            {              
                <a class="current">@systemName</a>
            }
            else
            {
                if (Base.GetController.ToLower() == "dashboard"
                    && Base.GetAction.ToLower().Contains("level")
                    && systemName != string.Empty)
                {
                <a class="current">@systemName</a>
                }
            }
            @if (Base.GetController.ToLower() == "dashboard")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard?systemid=" + intSystemId)">Dashboard</a>
                }
                else
                {
                <a class="current">Dashboard</a>
                }
            }
            else if (Base.GetController.ToLower() == "dashboardlevel")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard?systemid=" + intSystemId)">Dashboard</a>
                <a href="@Base.AbsoluteUrl("~/dashboardlevel?systemid=" + intSystemId)">
                    Dashboard level</a>
                }
                else
                {
                <a href="@Base.AbsoluteUrl("~/dashboard?systemid=" + intSystemId)">Dashboard</a>
                <a class="current">Dashboard level</a>
                }
            }
            else if (Base.GetController.ToLower() == "dashboard_graph_description")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard_graph_description?systemid=" + intSystemId)">
                    Graph description</a>
                }
                else
                {
                <a class="current">Graph description</a>
                }
            }
            else if (Base.GetController.ToLower() == "dashboard_projection")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard_projection?systemid=" + intSystemId)">
                    Projection</a>
                }
                else
                {
                <a class="current">Projection</a>
                }
            }
            else if (Base.GetController.ToLower() == "dashboard_traffic_light_rules")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard_traffic_light_rules?systemid=" + intSystemId)">
                    Metric light</a>
                }
                else
                {
                <a class="current">Metric light</a>
                }
            }
            else if (Base.GetController.ToLower() == "dashboard_target_base")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/dashboard_target_base?systemid=" + intSystemId)">
                    Target base</a>
                }
                else
                {
                <a class="current">Target base</a>
                }
            }
            else if (Base.GetController.ToLower() == "report")
            {
                if (Base.GetAction.ToLower() == "category")
                {
                <a class="current">Report</a>
                <a class="current">Category</a>
                }
                else if (Base.GetAction.ToLower() == "categorydetails")
                {
                <a class="current">Report</a>
                <a href="@Base.AbsoluteUrl("~/report/category")">Category</a>
                }
                else if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/report?systemid=" + intSystemId)">Report</a>
                }
                else
                {
                    <a class="current">Report</a>
                    if (Request.Url.ToString().ToLower().IndexOf("reports/port") >= 0)
                    {
                       <a class="current">Portfolio</a> 
                    }
                }
            }
            else if (Base.GetController.ToLower() == "subscription")
            {
                <a href="@Base.AbsoluteUrl("~/report?systemid=" + intSystemId)">Report</a>
                if (Base.GetAction.ToLower() == "index")
                {
                <a class="current">Subscription</a>
                }
                else if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/subscription?systemid=" + intSystemId)">Subscription</a>
                }
            }
            else if (Base.GetController.ToLower() == "user")
            {
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/user?systemid=" + intSystemId)">Users management</a>
                }
                else
                {
                <a class="current">Users management</a>
                }
            }
            else if (Base.GetController.ToLower() == "systemrole")
            {
                <a class="current">Permission</a>
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/systemrole")">System role</a>
                }
                else
                {
                <a class="current">System role</a>
                }
            }
            else if (Base.GetController.ToLower() == "organisation_level"
                    || Base.GetController.ToLower() == "level"
                    || Base.GetController.ToLower() == "organisation")
            {
                <a class="current">Group management</a>
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/organisation_level?systemid=" + intSystemId)">
                    Organisation level</a>
                }
                else
                {
                <a class="current">Organisation level</a>
                }
            }
            else if (Base.GetController.ToLower() == "team")
            {
                <a class="current">Group management</a>
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/team?systemid=" + intSystemId)">Team</a>
                }
                else
                {
                <a class="current">Team</a>
                }
            }
            else if (Base.GetController.ToLower() == "external")
            {
                <a class="current">Group management</a>
                if (Base.GetAction.ToLower() == "details")
                {
                <a href="@Base.AbsoluteUrl("~/external")">External group</a>
                }
                else
                {
                <a class="current">External group</a>
                }
            }
            @*@if((Base.GetController.ToLower() == "dashboard" && Base.GetAction.ToLower().Contains("level"))
                || (Base.GetController.ToLower() == "report" && Base.GetAction.ToLower().Contains("viewinfo")))
            {
        	    <span class="print_icon"><a id="aPrintIcon"><img src="@Url.ContentV("~/images/ico_print.png")" alt="" title="" /></a></span>
            }*@
        </div>        
        }
    }
    @if (Base.GetController.ToLower() == "dashboard")
    {
        if ("level0,level1,level2,level3,level4".Contains(Base.GetAction.ToLower()))
        {
            @Html.Partial("TrafficLight")
        }
        if ("level0,level1,level2,level3,level4,level5".Contains(Base.GetAction.ToLower()))
        {
            @Html.Partial("Crumbtrail")
            @Html.Partial("TimeAccess")
        }
        if ("level2,level4".Contains(Base.GetAction.ToLower()))
        {
            @Html.Partial("VisibilityTooltip")
        }
    }
    @if (Base.GetController.ToLower() == "dashboard" && Base.GetAction.ToLower().Contains("level"))
    {
        @Html.Partial("~/Views/Dashboard/RawDataWrap.cshtml")        
    }
</div>

<script type="text/javascript">
    $("#aPrintIcon").click(function () {
        openPrintPopup();
    });
</script>