@using EM_Report.Domain;
@using EM_Report.SSRS;

<link href="@Url.ContentV("~/Css/calendar.css")" rel="stylesheet" type="text/css" />

<div id="cprAdvanceSearch" class="w_100p" style="margin: 0 !important;">
    @Html.Hidden("System", Request["System"].ToUpper())

    <div style="margin-bottom: 10px; height: 100%">
        @Html.Hidden("ReportParameterData", (string)ViewBag.ReportParameterData)
        <div style="width: 95%; margin: 30px; margin-bottom:0px; margin-top: 30px">
            <div class="portfolioParameterSection" style="width: 100%; margin: 0px">
                <div style="margin: 15px">
                    <div style="border-bottom: 1px solid #E1E1E1; height: 30px">
                        <a style="cursor: pointer;" class="show">Hide Parameter List</a>
                    </div>
                    <div>
                        <div class="showOrg" style="margin-top: 10px">
                            <div id="ReportParameterSection">
                                @Html.Partial("ReportParameter", (ItemParameter)ViewBag.ReportParams)
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>

                    <div style="border-bottom: 1px solid #E1E1E1; margin-top: 8px; height: 1px"></div>
                    <div class="clear">
                    </div>
                    <div style="float: left; margin-top: 15px">
                        <span class="btnPurple">
                            <input type="button" value="View report" onclick="reloadReport()" />
                        </span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="clear" style="margin-bottom: 40px">
            </div>
            <div id="portfolioReportSection" class="w_100p" style="margin: 20px 0px 0px 0px">

            </div>
            <div class="clear">
            </div>
        </div>
    </div>

</div>

<script src="@Url.ContentV("~/Scripts/iCPRReportParameters.js")" type="text/javascript"></script>