@using EM_Report.BLL.Commons;
@using EM_Report.Helpers;
@using EM_Report.BLL.Services;
@if (!Request.IsAjaxRequest() || (Request.IsAjaxRequest() && !EM_Report.Helpers.Base.LoginSession.isSystemUser))
{
<div id="navigation">
    <ul id="mainNav">                   
        <li>
            <a><img src="@Url.Image("report-icon.png")" alt="Report management" width="40px" height="50px" /><span>Report management</span></a>
            <ul class="SubNav">
                @if (Base.LoginSession.isSystemUser)
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/report/category")" class="NavFirstItem">Report category</a></li>
                }
                <li><a href="@VirtualPathUtility.ToAbsolute("~/report")">Report list</a></li>
                <li><a href="@VirtualPathUtility.ToAbsolute("~/subscription")">Report subscription</a></li>
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Report, ResourcesHelper.Permission_Add))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/report/details")" class="NavLastItem">Add Report</a></li>
                }
            </ul>
        </li>
        @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_User, ResourcesHelper.Permission_View))
        {
        <li>
            <a><img src="@Url.Image("user-icon.png")" alt="User management" width="40px" height="50px" /><span>User management</span></a>
            <ul class="SubNav">
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_User, ResourcesHelper.Permission_View))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/user")">user list</a></li>
                }
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_User, ResourcesHelper.Permission_Add))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/user/details")" class="NavLastItem">add user</a></li>
                }
            </ul>
        </li>
        }
        @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Role, ResourcesHelper.Permission_View))
        {
        <li>
            <a><img src="@Url.Image("role-icon.png")" alt="Permission management" width="40px" height="50px"/><span>Permission management</span></a>
            <ul class="SubNav">
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Role, ResourcesHelper.Permission_View))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/systemrole")">system role list</a></li>
                }
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Role, ResourcesHelper.Permission_Add))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/systemrole/details")" class="NavLastItem">add system role</a></li>
                }
            </ul>
        </li>
        }
        @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Group, ResourcesHelper.Permission_View))
        {
        <li>
            <a><img src="@Url.Image("group-icon.png")" alt="Group management" width="40px" height="50px"/><span>Group management</span></a>
            <ul class="SubNav">
                @if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_Group, ResourcesHelper.Permission_View))
                {
                <li><a href="@VirtualPathUtility.ToAbsolute("~/organisation_level")">organisation level list</a></li>
                <li><a href="@VirtualPathUtility.ToAbsolute("~/external")">external group list</a></li>
                <li><a href="@VirtualPathUtility.ToAbsolute("~/team")" class="NavLastItem">team list</a></li>
                }
            </ul>
        </li>
        }
        @*@if (!Base.LoginSession.isExternal && Login.AuthorizeSystemPermission(ResourcesHelper.System_AuditTrail, ResourcesHelper.Permission_View))
        {
        <li><a href="@VirtualPathUtility.ToAbsolute("~/audittrail")" title="Audit Trail"><img src="@Url.Image("group-icon.png")" alt="Audit Trail" width="40px" height="50px"/><span>Audit Trail</span></a></li>
        }
        <li><a href="@VirtualPathUtility.ToAbsolute("~/addressbook")" title="Address Book"><img src="@Url.Image("group-icon.png")" alt="Address Book" width="40px" height="50px"/><span>Address Book</span></a></li>*@
        @if (!EM_Report.Helpers.Base.LoginSession.isSystemUser)
        {
            <script type="text/javascript">
                $(document).ready(function ($) {
                    //Show more categories,recently report,favorite report
                    $("li.leaf_more").click(function () {
                        $(this).parent().children('li.leaf_none').slideToggle();
                        var _thisa = $(this).children();
                        if (_thisa != null) {
                            if (_thisa.html().indexOf("More...") >= 0) {
                                _thisa.html(_thisa.html().replace("More...", "Less..."));
                            }
                            else {
                                _thisa.html(_thisa.html().replace("Less...", "More..."));
                            }
                        }
                    });

                    $("#mainNav > li").unbind('mouseover');
                    $("#mainNav > li").unbind('mouseout');
                    if ($("#mainNav > li >a[title='Report management']").length > 0) {
                        $("#mainNav > li >a[title='Report management']").removeAttr("href");
                    }
                    // Code that uses jQuery's $ can follow here.
                    $("#mainNav >li >a").bind('click', function () {
                        $(this).parent().children().first().next().slideToggle();
                    });
                });
            </script> 
            <style type="text/css">
                li.leaf_none { display:none; }
            </style> 
            //Display categories
            var objCategories = Base.LoginSession.objCategories;
            <li>
                <a><img src="@Url.Image("report-icon.png")" alt="Report categories" width="40px" height="50px"/><span>Report categories (@objCategories.Count())</span></a>
                @if (!objCategories.IsNullOrEmpty())
                {
                    I_ReportService qReportService = new ReportService(null);
                    int i = 1;
                    <ul class="SubNav">
                    @foreach (var item in objCategories)
                    {                                    
                        <li title='@item.Name'  @(i <= Base.GetIntByConfigKey("Top_Category") ? "" : "class=leaf_none")>
                            <a href="@VirtualPathUtility.ToAbsolute("~/report?cId=" + item.CategoryId + "")">@Base.GetStringByMaxLength(20, item.Name)
                                (@qReportService.CountReportByCategoryUserCanAccess(Base.LoginSession.intUserId, item.CategoryId))
                            </a>
                        </li>                                                                
                            i++;
                    }
                    @if (objCategories.Count() > Base.GetIntByConfigKey("Top_Category"))
                    {
                        <li class='leaf_more'><a>More...</a></li>
                    } 
                    </ul>                                           
                }                            
            </li>
                        
                //Display favorite report
                var objFavoriteReport = Base.LoginSession.objFavoriteReports;
            <li>
                <a><img src="@Url.Image("report-favorite-icon.png")" alt="Favorite Reports" width="40px" height="50px"/><span>Favourite reports (@objFavoriteReport.Count())</span></a>
                @if (!objFavoriteReport.IsNullOrEmpty())
                {
                    int i = 1;
                    <ul class="SubNav">
                    @foreach (var item in objFavoriteReport)
                    {
                        <li title='@item.Name'  @(i <= Base.GetIntByConfigKey("Top_Favorite") ? "" : "class=leaf_none")>
                            <a href="@VirtualPathUtility.ToAbsolute("~/report/viewinfo?reportpath=" + item.UrlFullPath + "&rId=" + item.ReportId + "")">@Base.GetStringByMaxLength(23, item.Name)                                            
                            </a>
                        </li>       
                                                                                                                                                   i++;
                    }
                    @if (objFavoriteReport.Count() > Base.GetIntByConfigKey("Top_Favorite"))
                    {
                        <li class='leaf_more'><a>More...</a></li>
                    } 
                    </ul>                                           
                }                            
            </li>
                //Display recently report
                var objRecentlyReport = Base.LoginSession.objRecentlyReports;
            <li>
                <a><img src="@Url.Image("report-recently-icon.png")" alt="Recently Reports" width="40px" height="50px"/><span>Recent reports (@objRecentlyReport.Count())</span></a>
                @if (!objRecentlyReport.IsNullOrEmpty())
                {
                    int i = 1;
                    <ul class="SubNav">
                    @foreach (var item in objRecentlyReport)
                    {
                        <li title='@item.Name'  @(i <= Base.GetIntByConfigKey("Top_Recently") ? "" : "class=leaf_none")>
                            <a href="@VirtualPathUtility.ToAbsolute("~/report/viewinfo?reportpath=" + item.UrlFullPath + "&rId=" + item.ReportId + "")">@Base.GetStringByMaxLength(23, item.Name)                                            
                            </a>
                        </li>                                                                
                                                                                                                                                   i++;
                    }
                    @if (objRecentlyReport.Count() > Base.GetIntByConfigKey("Top_Recently"))
                    {
                        <li class='leaf_more'><a>More...</a></li>
                    } 
                    </ul>                                           
                }                            
            </li>                               
        }
        else
        { 
            <script type='text/javascript' src='@Url.Content("~/Scripts/jquery.menu.js")'></script>   
        }
    </ul>
</div>
}