@model EM_Report.Domain.ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="wrapper">
    <div class="w_100p">
        @using (Html.BeginForm())
        {    
            @Html.AntiForgeryToken()

            <div class="formWrap">
                <h1>
                    Change Password</h1>
                <hr />
                <br />
                <div class="formInline formInlineTxt">
                    @Html.Partial("_ShowMessage")
                    <p>
                        Use the form below to change your password.<br />
                        New passwords are required to be a minimum of 6 characters in length.</p>
                </div>
                <div class="clear">
                </div>
                <div class="formInline formChangePassword">
                    <label>
                        Current Password</label>
                    @Html.PasswordFor(e => e.OldPassword, new { id = "txtCurrentPassword", name = "txtCurrentPassword", @class = "password" })
                    @Html.ValidationMessageFor(e => e.OldPassword)
                </div>
                <div class="clear">
                </div>
                <div class="formInline formChangePassword">
                    <label>
                        New Password</label>
                    @Html.PasswordFor(e => e.NewPassword, new { id = "txtNewPassword", name = "txtNewPassword", @class = "password" })
                    @Html.ValidationMessageFor(e => e.NewPassword)
                </div>
                <div class="clear">
                </div>
                <div class="formInline formChangePassword">
                    <label>
                        Confirm New Password</label>
                    @Html.PasswordFor(e => e.ConfirmPassword, new { id = "txtConfirmPassword", name = "txtConfirmPassword", @class = "password" })
                    @Html.ValidationMessageFor(e => e.ConfirmPassword)
                </div>
                <div class="clear">
                </div>
                <div class="formInline formInlineBtn">
                    <span class="btnPurple">
                        <input type="button" name="btnAccept" value="Accept" onclick="actionClick('save', false);" /></span>
                    <span class="btnPurple">
                        <input type="button" name="btnBack" value="Back" onclick="javascript:history.go(-1)" /></span>
                </div>
                <div class="clear">
                </div>
            </div>
        }
    </div>
</div>
